{% if node.field_titulo[0].value|length > 0 %}
{% for titulo in node.field_titulo %}

<header 
id="welcome"
class='uk-section tls--page-top uk-text-center'>

    <div class="uk-container"> 

        <h3 class="color-rosa uk-h2 uk-margin-remove-bottom">{{ node.field_core_tipo.entity.label }}</h3>

        <h1 class="arky-heading uk-heading-1 uk-margin-remove-top">
        {% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if titulo.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
            {{ titulo.entity.field_px_tit_sup.value }}
        </span>
        {% endif %}
        {% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
        {% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if titulo.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
            {{ titulo.entity.field_px_tit_inf.value }}
        </span>
        {% endif %}        
        </h1>

        {% if node.field_fondo[0].value|length > 0 %}
        <figure class="uk-width-1-1 uk-padding-xxxlarge-left uk-padding-xxxlarge-right uk-position-relative">
            <img 
                class="teaser-img uk-border-rounded"  
                alt="{{ node.field_fondo.0.alt }}" 
                title="{{ node.field_fondo.0.title }}" 
                data-src="{{ file_url(node.field_fondo.0.entity.fileuri | image_style('980x495') ) }}" uk-img /> 
            {% if node.field_core_duracion[0].value|length > 0 %}
            <div class="uk-border-circle uk-light arky-bg-rosa uk-text-center uk-card-badge">
                <span class="uk-h6 uk-margin-remove-top uk-margin-remove-bottom">Duración</span>
                <span class="uk-h3 uk-margin-remove-top uk-margin-remove-bottom">{{ node.field_core_duracion.value }}</span>
            </div>
            {% endif %}
        </figure>
        {% endif %}

    </div>
</header>

{% endfor %}
{% endif %}

{% if node.field_overview[0].value|length > 0 %}
{% for overview in node.field_overview %}

<section 
id="hello"
class='uk-section tls--page
    {# MARGENES #}
    {% if overview.entity.field_px_borrar_margen.0.target_id == '28' %}
        arky-delete-margen-arriba
    {% elseif overview.entity.field_px_borrar_margen.0.target_id == '29' %}
        arky-delete-margen-abajo
    {% endif %}'>

<div class="uk-container">
                
    {% if overview.entity.field_px_ow_body[0].value|length > 0 %}
    <div class="uk-flex-middle uk-grid-large" uk-grid>

        <article class="uk-width-expand--size-s arky--body uk-text-center uk-text-left--size-s">
            <h2 class="arky-heading uk-heading-2">
                {% if overview.entity.field_px_ow_tits.entity.field_px_tit_sup[0].value|length > 0 %}
                <span 
                class="uk-lh-1 
                {% if overview.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
                    {{ overview.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}
                </span>
                {% endif %}
                {% if overview.entity.field_px_ow_tits.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
                {% if overview.entity.field_px_ow_tits.entity.field_px_tit_inf[0].value|length > 0 %}
                <span 
                class="uk-lh-1 
                {% if overview.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
                    {{ overview.entity.field_px_ow_tits.entity.field_px_tit_inf.value }}
                </span>
                {% endif %}        
            </h2>
            {{ overview.entity.field_px_ow_body.value|raw }}
            {% if overview.entity.field_px_ow_link[0].value|length > 0 %}
            <a 
                class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium uk-margin-medium-top" 
                href="{{ overview.entity.field_px_ow_link.0.url }}" class="uk-button uk-button-primary">
                {{ overview.entity.field_px_ow_link.title }} <span class="uk-position-center-right feather-arrow-right">
            </a>
            {% endif %}
        </article>

        {% if overview.entity.field_px_ow_img[0].value|length > 0 %}
        <figure class="uk-width-3-5 uk-margin-auto uk-width-2-5--size-s">
            <img 
                class="teaser-img uk-border-rounded"  
                alt="{{ overview.entity.field_px_ow_img.0.alt }}" 
                title="{{ overview.entity.field_px_ow_img.0.title }}" 
                data-src="{{ file_url(overview.entity.field_px_ow_img.0.entity.fileuri | image_style('445x500') ) }}" uk-img /> 
        </figure>
        {% endif %}
                
    </div>
    {% endif %}

</div>
</section>

{% endfor %}
{% endif %}