.befs {
    margin-bottom: 2rem;
}
.bef-buttons {
    border: 0;
    background-color: var(--c-lila-suave);
    font-family: inherit;
    color: var(--c-lila);
    padding: .5rem 1rem; 
    font-size: 14px;
    border-radius: 0.5rem;
    padding-right: 2rem;
    transition: .25s background-color;
    position: relative;
}
.bef-last { float: right; }
.bef-links {
    border: 1px solid var(--c-lila);
    border-left: 4px solid var(--c-rosa);
    padding: 1rem;
    border-radius: .5rem;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    line-height: 2;
    font-size: 14px;
    background-color: white;
    color: var(--c-violeta);
    display: none;
}
.bef-links.uk-open { display: block; }
.bef-links a {
    color: var(--c-violeta);
    transition: .25s color;
}
.bef-links a:hover {
    color: var(--c-rosa);
}
.bef-buttons svg {
    width: 16px;
    fill: var(--c-rosa);
    transform: rotate(90deg);
    transform-origin: center;
    right: 8px;
    left: auto;
    height: 16px;
    bottom: 0;
    margin: auto;
    top: 0;
}

.teaser_autor {
    display: flex;
    align-items: center;
    position: relative;
    margin: .75rem 0;
}
.teaser_autor [class*='pic-'] {
    position: relative;
    z-index: 5;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    box-shadow: 0 0 2px 0px grey;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
}
.teaser_autor [class*='pic-']:nth-child(2) {
    z-index: 4;
    left: 16px;
}
.teaser_autor [class*='pic-']:nth-child(3) {
    z-index: 3;
    left: 32px;
}
.teaser_autor [class*='pic-']:nth-child(4),
.teaser_autor [class*='pic-']:nth-child(5) { display: none; }
.teaser_autor small {
    padding-left: 4.75rem;
}