.contenido {
    font-size: 18px;
    line-height: 1.5;
}
.contenido > *:not(:first-child) {
    margin-top: 1rem;
}
.contenido + footer {
    margin-top: 3rem;
}
.contenido > h4, 
.contenido > h5 {
    font-weight: 700;
    font-size: 27px;
    margin-top: 2rem!important;
}
.contenido > h5 {
    font-size: 24px;
}
.contenido > ul {
    column-count: 2;
    column-gap: 4rem;
    padding-left: 2rem;
}
.contenido > ul li {
    position: relative;
    margin-bottom: .75rem;
}
.contenido > ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: -22px;
    top: 8px;
}
.contenido img {
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
section[class*="blanco"] .contenido > ul li:before,
section[class*="suave"] .contenido > ul li:before,
section[class*="celeste"] .contenido > ul li:before {
    border-color: var(--c-rosa);
}
@media (max-width: 600px) {
.contenido > ul { column-count: 1; }    
}