.detalles { margin-top: 1.5rem; }
.detalles > *:not(:first-child):not(img) { font-size: 15px; line-height: 1.5; margin-top: .75rem; }
.detalles_title { font-size: 24px; display: inline-block; color: var(--c-rosa); border-bottom: 2px solid var(--c-rosa); }
.detalles strong { font-weight: 700; }
.detalles .body_img { margin-bottom: 0; margin-top: 1rem; }

.share_items { justify-content: space-around; align-items: center; }
.share_link.ileft { padding-left: 2.75rem; margin-bottom: .5rem; }
.share_link.ileft svg { fill: var(--c-rosa); left: 1.5rem; }

.hello {
    background-color: var(--c-suave); text-align: center;
    padding: 1.5rem; border-radius: 1rem; border: 1px solid var(--c-fino); margin-bottom: 1.5rem; }
.hello_img { background-color: var(--c-lila); border-radius: 50%; margin: 0 auto 1rem; }
.hello_title { font-weight: 700; line-height: 1; font-size: 24px; margin-bottom: 1rem; }
.hello_parrafo { line-height: 1.5; font-size: 12px; margin-bottom: 1.25rem; }
article .hello { display: flex; justify-content: space-between; align-items: center; }
article .hello div { text-align: center; margin-left: 2rem; }
aside .hello { display: none; }
.hello_group li {
    background-color: var(--c-sombra);
    display: inline-block;
    padding: .5rem;
    font-size: 13px;
    border-radius: .5rem;
    color: var(--c-violeta);
}
@media (min-width: 900px) {
article .hello div { text-align: left; }
article .hello { display: none; }
aside .hello { display: block; margin-top: 4rem; }
}

.teasers_title { font-weight: 900; font-size: 21px; }
.mini .teaser_link { padding: 0; }
.mini .teaser_title { font-size: 18px; line-height: 1; transition: var(--timer) color; }
.mini .teaser_link:hover .teaser_title { color: var(--c-violeta); }
.mini .teaser_parrafo { font-size: 13px; color: var(--c-lila); }

.mini .new_item { margin-top: 1rem; }

.cuerpo h3 { color: var(--c-rosa); font-size: 24px; font-weight: 700; }
.cuerpo h4 { color: var(--c-rosa); font-size: 18px; font-weight: 700; }
.cuerpo h5 { font-size: 18px; font-weight: 700; }
.cuerpo h6, .cuerpo strong { font-weight: 700; }
.cuerpo em { font-style: italic; font-weight: 300; opacity: .9; }

.cuerpo h6 {
    background-color: var(--c-suave); padding: 1rem; text-align: center;
    border: 1px solid #ddd; border-radius: .5rem; margin-bottom: 2rem; }

.cuerpo img { width: 100%; height: auto; border-radius: .5rem; }

.body_autor {
    border-top: 1px solid var(--c-rosa);
    padding-top: 1rem;
    margin-top: 2rem;
}
.body_autor-title {
    font-size: 21px;
    color: var(--c-rosa);
    margin-bottom: 1rem;
}
.body_autor-items {
    justify-content: space-between;
    font-size: 13px;
}
.body_autor-item { 
    width: 48%;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: .75rem;
}
.body_autor-item img {
    border-radius: 50%;
    width: 75px;
    border: 4px solid white;
    box-shadow: 0 0 1px 0 var(--c-lila);
}
.body_autor-item img + article {
    width: calc(100% - 5.5rem);
}