{# TABULADOR --> Tab Top (14): Funciona para quotes #}

{% include '@tls/@block_includes/bk-block-section.html.twig' %} 

  {% include '@tls/@block_includes/bk-block-header.html.twig' %}

  <div class="uk-container uk-margin-top {% if content['#block_content'].field_bk_simple.0.value == '1' %}mas-simple{% endif %}"> 

    <ul uk-grid class="
                {% if content['#block_content'].field_bk_alineacion.0.target_id == '34' %}
                    uk-text-center
                {% elseif content['#block_content'].field_bk_alineacion.0.target_id == '35' %}
                    uk-text-right
                {% else %}
                    uk-text-left
                {% endif %}
                {% if content['#block_content'].field_bk_granja.entity.field_px_columnas.0.target_id == '30' %}
                    uk-grid-small uk-child-width-1-2 uk-child-width-1-3--size-m loco loco-3
                {% elseif content['#block_content'].field_bk_granja.entity.field_px_columnas.0.target_id == '31' %}
                    uk-grid-medium uk-child-width-1-2--size-s loco loco-2
                {% elseif content['#block_content'].field_bk_granja.entity.field_px_columnas.0.target_id in ['62', '36'] %}
                    uk-grid-small uk-child-width-1-2 uk-child-width-1-3--size-m uk-child-width-1-4--size-l loco loco-4
                {% endif %}
                ">
{% for granja in content['#block_content'].field_bk_granja.entity.field_px_granja %}
<li>
    <a 
        id="granja_{{ loop.index }}" 
        class="uk-border-rounded uk-display-block uk-padding-top uk-padding-right uk-padding-left uk-padding-bottom arky-bordeado"
        {% if granja.entity.field_px_granja_link[0].value|length > 0 %} 
            href="{{ granja.entity.field_px_granja_link.0.url }}"
            target="{{ granja.entity.field_px_granja_link.0.url.external ? '_blank' : '_self' }}"
        {% elseif granja.entity.field_px_granja_file[0].value|length > 0 %}
            href="{{ file_url(granja.entity.field_px_granja_file.entity.uri.value) }}"
            target="_blank"
        {% endif %}
    >   
        {% if granja.entity.field_px_granja_icono.entity.field_tx_icono_img[0].value|length > 0 %} 
            <img class="uk-margin-small-bottom" data-src="{{ file_url(granja.entity.field_px_granja_icono.entity.field_tx_icono_img.entity.uri.value) }}" alt="" uk-img>
        {% endif %} 
        <p class="uk-h3 color-violeta uk-margin-remove-top">{{ granja.entity.field_px_granja_title.value }}</p>
        <div class="uk-position-relative uk-margin-medium-top uk-display-inline-block button-arrow"><span class="uk-text-underline">Conocer más</span> <span class="uk-position-center-right feather-arrow-right"></span></div>
    </a>
</li>
{% endfor %}
</ul>

  </div>

  {% include '@tls/@block_includes/bk-block-footer.html.twig' %}

</section>