{% if content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id == '20' %}
<footer class="uk-container txt_center">
    <a class="boton_flecha iflecha" 
    href="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url }}"
    target="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url.external ? '_blank' : '_self' }}">
        {{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.title }}
    </a>
</footer>
{% endif %}