{% set attrs = create_attribute() %}

{% set attrs_cls = [
    "tls_header", "uk-container", "alinear_izq",
    ( content['#block_content'].field_bk_ptits.entity.field_px_text_pos.0.target_id == '34' ) ? "alinear_cen" : "",
    ( content['#block_content'].field_bk_ptits.entity.field_px_text_pos.0.target_id == '35' ) ? "alinear_der" : "",
    ( content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id == '19' ) ? "tls_header_alineado" : ""
] %}

<header {{ attrs.addClass(attrs_cls) }}>
{% if content['#block_content'].field_bk_ptits.entity.field_px_big_font.value == '1' %}
<h1 id="title" class="arky-heading uk-heading-1">
{% else %}
<h3 class="tls_header-title">
{% endif %}
{% if content['#block_content'].field_bk_ptits.entity.field_px_tit_sup[0].value|length > 0 %}
<span{% if content['#block_content'].field_bk_ptits.entity.field_px_posicion.0.target_id == '23' %} class=stroke{% endif %}>
    {{ content['#block_content'].field_bk_ptits.entity.field_px_tit_sup.value }}
</span>
{% endif %}
{% if content['#block_content'].field_bk_ptits.entity.field_px_cortar.value == '1' %}<br>{% endif %}
{% if content['#block_content'].field_bk_ptits.entity.field_px_tit_inf[0].value|length > 0 %}
<span{% if content['#block_content'].field_bk_ptits.entity.field_px_posicion.0.target_id == '24' %} class=stroke{% endif %}>
    {{ content['#block_content'].field_bk_ptits.entity.field_px_tit_inf.value }}
</span>
{% endif %}
{% if content['#block_content'].field_bk_ptits.entity.field_px_big_font.value == '1' %}
</h1>{% else %}</h3>
{% endif %}
            
{% if ( content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id in ['18', '19'] ) %}
<a 
class="boton_flecha iflecha" href="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url }}" 
target="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url.external ? '_blank' : '_self' }}">
{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.title }}
</a>
{% endif %} 

</header>