{% set attrs = create_attribute() %}

{% if content['#block_content'].field_bk_id[0].value|length > 0 %}
{% set attrs_id = content['#block_content'].field_bk_id.0.value %}
{% endif %}

{% set attrs_cls = [
  ( elements.content['#block_content'].bundle() in ['hiper'] ) ? "" : "uk-section page", 
  logged_in ? "contextual-region" : "",
  ( content['#block_content'].field_bk_clases[0] is not empty ) ? ( content['#block_content'].field_bk_clases.0.value ) : "",
  ( content['#block_content'].field_bk_view_color.0.target_id == '8' ) ? "bg_clr_violeta" : "",
  ( content['#block_content'].field_bk_view_color.0.target_id == '7' ) ? "bg_clr_rosa" : "",
  ( content['#block_content'].field_bk_view_color.0.target_id == '37' ) ? "bg_clr_celeste" : "",
  ( content['#block_content'].field_bk_view_color.0.target_id == '25' ) ? "bg_clr_suave" : "",
  ( content['#block_content'].field_bk_margen.0.target_id == '28' ) ? "mrg_top_delete" : "",
  ( content['#block_content'].field_bk_margen.0.target_id == '29' ) ? "mrg_bottom_delete" : "",
  ( content['#block_content'].field_bk_border.value == '1' ) ? "brd_top" : ""
] %}

{% set scrollspy = "cls: uk-animation-fade; target: .uk-card; delay: 250;" %}

<section {{ attrs.addClass(attrs_cls).setAttribute("id", attrs_id).setAttribute("uk-scrollspy", scrollspy) }}>