<section class="uk-section bg_clr-rosa page" uk-scrollspy="cls: uk-animation-fade; target: .change; delay: 500;">
<header class="tls_header uk-container alinear_izq alinear_cen">
<h3 class="tls_header-title"><span>Compártelo</span></h3>
<p class="tls_header-sub">Comparte este sitio con otros estudiantes o amigos:</p>
</header>
<div class="uk-container">
<ul class="share_items" uk-grid>
<li class="share_item">
<a class="share_link boton_calato ileft" data-svg="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank">Compartir por Facebook</a>
</li>
<li class="share_item">
<a class="share_link boton_calato ileft" data-svg="twitter" href="https://twitter.com/intent/tweet?url={{ url('<current>') }}" target="_blank">Compartir por Twitter</a>
</li>
<li class="share_item">
<a class="share_link boton_calato ileft" data-svg="linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('<current>') }}" target="_blank">Compartir por Linkedin</a>
</li>
</ul>
</div>
</section> 