{% if node.field_pub_tipo.0.target_id in ['38'] %}
    {% set bread_txt = 'los blogs' %}
{% elseif node.field_pub_tipo.0.target_id in ['6'] %}
    {% set bread_txt = 'los eventos' %}
{% elseif node.field_pub_tipo.0.target_id in ['5'] %}
    {% set bread_txt = 'las noticias' %}
{% elseif node.field_pub_tipo.0.target_id in ['39'] %}
    {% set bread_txt = 'los proyectos' %}
{% else %}
    {% set bread_txt = 'las publicaciones' %}
{% endif %} 
    
<section class="bg_blanco page">
<div class="uk-container">
<a class="backwards ileft" data-svg="arrow_left" href="./">Volver a {{ bread_txt }}</a>
</div>
</section>