{% set hello_title = node.field_pub_tipo.0.target_id in ['38'] ? 'Suscríbete a nuestro blog' : '¿Deseas asistir al evento?' %}
{% set hello_parrafo = node.field_pub_tipo.0.target_id in ['38'] ? 'Recibe gratuitamente en tu correo todos nuestros artículos de diseño, comunicaciones y negocios e innovación.' : 'Completa los siguientes datos y te notificaremos una vez esté por iniciar el evento.' %}
{% set hello_boton = node.field_pub_tipo.0.target_id in ['38'] ? '¡Suscribirse!' : 'Quiero asistir' %} 
{% set hello_href = node.field_pub_tipo.0.target_id in ['38'] ? '#subscripcion' : '#evento' %}

{% if node.field_pub_tipo.0.target_id in ['39'] and node.field_pub_proyecto.0.target_id in ['57'] %}
    {% set autor_txt = 'Sobre el equipo de estudiantes' %}
{% elseif node.field_pub_tipo.0.target_id in ['39'] and node.field_pub_proyecto.0.target_id in ['58'] %}
    {% set autor_txt = 'Sobre el equipo de egresados' %}
{% elseif node.field_pub_tipo.0.target_id in ['38', '40'] %}
    {% set autor_txt = 'Sobre el autor' %}
{% elseif node.field_pub_tipo.0.target_id in ['6'] %}
    {% set autor_txt = 'Sobre el speaker' %}
{% endif %} 

<article>

{# MULTIMEDIA #}
{% if node.field_video_id.value|length > 0 %}
<iframe class="body_img" 
src="https://www.youtube-nocookie.com/embed/{{ node.field_video_id.value }}?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" 
width="1920" height="1080" frameborder="0" allowfullscreen uk-responsive></iframe>
{% else %}
{% if node.field_image_node.value|length > 0 %}
<img class="body_img" alt="{{ node.field_image_node.0.alt }}" title="{{ node.field_image_node.0.title }}" 
data-src="{{ file_url(node.field_image_node.0.entity.fileuri | image_style('730x500') ) }}" width="730" height="500" uk-img />
{% elseif node.field_mapa_img.value|length > 0 %}
<img class="body_img" alt="{{ node.field_mapa_img.0.alt }}" title="{{ node.field_mapa_img.0.title }}" width="600" height="400" 
data-src="{{ file_url(node.field_mapa_img.0.entity.fileuri | image_style('730x500') ) }}" width="730" height="500" uk-img />
{% endif %}
{% endif %}

{# HELLO MOVIL #}
{% if node.field_pub_tipo.0.target_id in ['38', '6'] %}
<section class="hello">
<div>
<img class="hello_img" data-src="{{ base_path ~ directory }}/assets/images/icon_w.png" alt="" title="" width="100" height="100" uk-img /> 
<h4 class="hello_title">{{ hello_title }}</h4>
<p class="hello_parrafo">{{ hello_parrafo }}</p>
<a href="{{ hello_href }}" class="boton_flecha iflecha" uk-scroll>{{ hello_boton }}</a>
</div>
</section>
{% endif %}

{# BODY #}
{% if node.body.summary|length > 0 %}<div class="resumen">{{ node.body.summary|raw }}</div>{% endif %}
<div class="cuerpo">{{ node.body.value|raw }}</div>
{% if 
( node.field_fecha.value|length > 0 ) or 
( node.field_hora.value|length > 0 ) or 
( node.field_lugar.value|length > 0 ) or 
( node.field_mapa_img.value|length > 0 ) %}
<div class="detalles">
<h3 class="detalles_title">Detalles del evento</h3>
{% if node.field_fecha.value|length > 0 %}<p><strong>Día: </strong>{{ node.field_fecha.value }}</p>{% endif %}
{% if node.field_hora.value|length > 0 %}<p><strong>Hora: </strong>{{ node.field_hora.value }}</p>{% endif %}
{% if node.field_lugar.value|length > 0 %}<p><strong>Lugar: </strong>{{ node.field_lugar.value }}</p>{% endif %}
{% if node.field_mapa_img.value|length > 0 %}
<img class="body_img" alt="{{ node.field_mapa_img.0.alt }}" title="{{ node.field_mapa_img.0.title }}" width="600" height="400" 
data-src="{{ file_url(node.field_mapa_img.0.entity.fileuri | image_style('600x400') ) }}" uk-img />
</div>
{% endif %}
{% endif %}

{# BY #}
{% if node.field_autor[0].value|length > 0 %} 
<div class="body_autor">
<h4 class="body_autor-title">{{ autor_txt }}</h4>
<div class="body_autor-content">
{% for people in node.field_autor %}
{% if node.field_pub_tipo.0.target_id in ['6', '38', '40'] %} 
    <div>
        <h5>{{ people.entity.field_people_nombre.value }} {{ people.entity.field_people_apellido.value }}</h5>
        <p>{{ people.entity.body.summary }}</p> 
    </div>
    {% if people.entity.field_people_minipic.value|length > 0 %}
    <figure>
        <img alt="{{ people.entity.field_people_minipic.0.alt }}" 
        title="{{ people.entity.field_people_minipic.0.title }}" uk-img 
        data-src="{{ file_url(people.entity.field_people_minipic.0.entity.fileuri | image_style('220x220') ) }}" />  
    </figure>
    {% endif %}
{% elseif node.field_pub_tipo.0.target_id in ['39'] %}
    <ul class="body_autor-items" uk-grid>
    {% for people_grupal in people.entity.field_people_grupal %}
        <li class="body_autor-item" uk-grid>
            <img alt="{{ people_grupal.entity.field_px_foto.0.alt }}" uk-img 
                title="{{ people_grupal.entity.field_px_foto.0.title }}" 
                data-src="{{ file_url(people_grupal.entity.field_px_foto.0.entity.fileuri | image_style('125x125') ) }}" />  
            <article>
                <p>{{ people_grupal.entity.field_px_nombres.value }}</p>
                <small>{{ people_grupal.entity.field_px_disposicion.value }}</small>
            </article>
         </li>
    {% endfor %}
    </ul>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}

</article>