{% set hello_title = node.field_pub_tipo.0.target_id in ['38'] ? 'Suscríbete a nuestro blog' : '¿Deseas asistir al evento?' %}
{% set hello_parrafo = node.field_pub_tipo.0.target_id in ['38'] ? 'Recibe gratuitamente en tu correo todos nuestros artículos de diseño, comunicaciones y negocios e innovación.' : 'Completa los siguientes datos y te notificaremos una vez esté por iniciar el evento.' %}
{% set hello_boton = node.field_pub_tipo.0.target_id in ['38'] ? '¡Suscribirse!' : 'Quiero asistir' %} 
{% set hello_href = node.field_pub_tipo.0.target_id in ['38'] ? '#subscripcion' : '#evento' %} 

{% if node.field_pub_tipo.0.target_id in ['38'] %}
    {% set rels_txt = 'Últimos Posts' %}
{% elseif node.field_pub_tipo.0.target_id in ['6'] %}
    {% set rels_txt = 'Eventos Relacionados' %}
{% elseif node.field_pub_tipo.0.target_id in ['5'] %}
    {% set rels_txt = 'Últimas Noticias' %}
{% elseif node.field_pub_tipo.0.target_id in ['39'] %}
    {% set rels_txt = 'Últimos Proyectos' %}
{% else %}
    {% set rels_txt = 'Publicaciones Relacionadas' %}
{% endif %} 

<aside class="uk-section">
{% if node.field_pub_tipo.0.target_id in ['39'] and node.field_pub_proyecto_ski[0].value|length > 0 %}
<section class="hello">
<h4 class="hello_title">Skills del proyecto</h4>
<ul class="hello_group">
{% for skills in node.field_pub_proyecto_ski %}
<li>{{ skills.entity.name.value }}</li>
{% endfor %}
</ul>
</section>
{% endif %} 

{% if node.field_pub_tipo.0.target_id in ['38', '6'] %}
<section class="hello">
<img class="hello_img" data-src="{{ base_path ~ directory }}/assets/images/icon_w.png" alt="" title="" width="100" height="100" uk-img /> 
<h4 class="hello_title">{{ hello_title }}</h4>
<p class="hello_parrafo">{{ hello_parrafo }}</p>
<a href="{{ hello_href }}" class="boton_flecha iflecha" uk-scroll>{{ hello_boton }}</a>
</section>
{% endif %}

{% set view_eventos = drupal_view('lista_pubs', 'eventos_rel') %}
{% set view_blogs = drupal_view('lista_pubs', 'blogs_rel') %}
{% set view_noticias = drupal_view('lista_pubs', 'noticias_rel') %}
{% set view_proyectos = drupal_view('lista_pubs', 'proyectos_rel') %}
{% if view_eventos or view_blogs or view_noticias or view_proyectos %}
<div class="teasers mini">
<h3 class="teasers_title c_rosa">{{ rels_txt }}</h3>
{% if node.field_pub_tipo.0.target_id in ['6'] %}
    {{ view_eventos }}
{% elseif node.field_pub_tipo.0.target_id in ['38'] %}
    {{ view_blogs }}
{% elseif node.field_pub_tipo.0.target_id in ['5'] %}
    {{ view_noticias }}
{% elseif node.field_pub_tipo.0.target_id in ['39'] %}
    {{ view_proyectos }}
{% endif %}
</div>
{% endif %}

</aside>