{% set BHEAD_ATTR = create_attribute() %}
{% set BELEM_ATTR = create_attribute() %}
{% set BLINK_ATTR = create_attribute() %}
{% set bloques = {  
  PERFORMANCE:  content['#block_content'].field_bk_performance.value, 
  SIZE_TITLE:   content['#block_content'].field_bk_ptits.entity.field_px_big_font.value,
  TITLE_TOP:    content['#block_content'].field_bk_ptits.entity.field_px_tit_sup.value,
  TITLE_BOTTOM: content['#block_content'].field_bk_ptits.entity.field_px_tit_inf.value,
  TITLE_CUT:    content['#block_content'].field_bk_ptits.entity.field_px_cortar.value,
  TITLE_POS:    content['#block_content'].field_bk_ptits.entity.field_px_posicion.0.target_id,
  CTA_TYPE:     content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id,
  CTA_TARGET:   content['#block_content'].field_bk_enlace.entity.field_px_link.0.url.external ? '_blank' : '_self', 
  CTA_URL:      content['#block_content'].field_bk_enlace.entity.field_px_link.0.url,
  CTA_TITLE:    content['#block_content'].field_bk_enlace.entity.field_px_link.0.title,
  CLASSES_HEADER: [ "uk-container", "header_title" ],
  CLASSES_ELEM: [ "title" ],
  CLASSES_CTA: []
} %}
{% set HEADING_ELEM = bloques.SIZE_TITLE ? 'h1' : 'h3' %}
{% set HEADING_ID_ELEM = bloques.SIZE_TITLE ? 'title' : '' %}
{% set HEADING_CLASS_ELEM = bloques.SIZE_TITLE ? 'title_big' : '' %}

{% if bloques.PERFORMANCE == '1' %}
<header{{ BHEAD_ATTR.addClass(bloques.CLASSES_HEADER) }}>
{% if bloques.SIZE_TITLE == '1' %}
<{{ HEADING_ELEM }} {{ BELEM_ATTR.addClass(bloques.CLASSES_ELEM).addClass(HEADING_CLASS_ELEM).setAttribute('id', HEADING_ID_ELEM) }}>
{% else %}
<{{ HEADING_ELEM }} {{ BELEM_ATTR.addClass(bloques.CLASSES_ELEM).addClass(HEADING_CLASS_ELEM) }}>
{% endif %}
    {% if bloques.TITLE_TOP|length > 0 %}<span{% if bloques.TITLE_POS == '23' %} class="stroke"{% endif %}>{{ bloques.TITLE_TOP }}</span>{% endif %}
    {% if bloques.TITLE_CUT == '1' %}<br>{% endif %}
    {% if bloques.TITLE_BOTTOM|length > 0 %}<span{% if bloques.TITLE_POS == '24' %} class="stroke"{% endif %}>{{ bloques.TITLE_BOTTOM }}</span>{% endif %}
</{{ HEADING_ELEM }}>
{% if bloques.CTA_TYPE in ['18', '19'] %}
<a{{ BLINK_ATTR.addClass(bloques.CLASSES_CTA).setAttribute('target', bloques.CTA_TARGET).setAttribute('href', bloques.CTA_URL) }}>
{{ bloques.CTA_TITLE }}<span class="uk-position-center-right feather-arrow-right">  
</a>
{% endif %} 
</header>
{% else %}
<header 
    class="
    uk-container block--header uk-margin-bottom uk-position-relative
    {# ALINEACION TEXTO #}
    {%- if content['#block_content'].field_bk_ptits.entity.field_px_text_pos.0.target_id == '34' -%}
        uk-text-center uk-text-center--size-m
    {%- elseif content['#block_content'].field_bk_ptits.entity.field_px_text_pos.0.target_id == '35' -%}
        uk-text-center uk-text-right--size-m
    {%- else -%}
        uk-text-center uk-text-left--size-m
    {%- endif -%}
    {% if content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id == '19' %}
        block--header-left
    {%- endif -%}
    ">

    {% if content['#block_content'].field_bk_ptits.entity.field_px_big_font.value == '1' %}
    <h1 id="title" class="arky-heading uk-heading-1">
    {% else %}
    <h3 class="arky-heading uk-heading-2">
    {% endif %}
        {% if content['#block_content'].field_bk_ptits.entity.field_px_tit_sup[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if content['#block_content'].field_bk_ptits.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
            {{ content['#block_content'].field_bk_ptits.entity.field_px_tit_sup.value }}
        </span>
        {% endif %}
        {% if content['#block_content'].field_bk_ptits.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
        {% if content['#block_content'].field_bk_ptits.entity.field_px_tit_inf[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if content['#block_content'].field_bk_ptits.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
            {{ content['#block_content'].field_bk_ptits.entity.field_px_tit_inf.value }}
        </span>
        {% endif %}
    {% if content['#block_content'].field_bk_ptits.entity.field_px_big_font.value == '1' %}
    </h1>
    {% else %}
    </h3>
    {% endif %}
            
    {% if content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id in ['18', '19'] %}
    <a  
        target="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url.external ? '_blank' : '_self' }}"
        class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium uk-margin-bottom" 
        href="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url }}">
            {{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.title }}<span class="uk-position-center-right feather-arrow-right">  
    </a>
    {% endif %} 

</header>
{% endif %}