{% if content['#block_content'].field_bk_enlace.entity.field_px_cta.0.target_id == '20' %}
<footer class="uk-container uk-margin-medium-top uk-text-center">
    <a 
        target="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url.external ? '_blank' : '_self' }}"
        class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium" 
        href="{{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.url }}">
            {{ content['#block_content'].field_bk_enlace.entity.field_px_link.0.title }}<span class="uk-position-center-right feather-arrow-right">
    </a>
</footer>
{% endif %}