{% if view_mode == 'teaser' %} 


<a class="uk-display-block bee-action uk-card" href="{{ url }}">
<div class="uk-padding-large-left uk-padding-large-right">

    <figure class="uk-margin-small-bottom uk-border-rounded">
        <img 
        class="teaser-img uk-margin-auto"  
        alt="{{ node.field_campus_img.0.alt }}" 
        title="{{ node.field_campus_img.0.title }}" 
        data-src="{{ file_url(node.field_campus_img.0.entity.fileuri | image_style('438x302') ) }}" uk-img /> 
    </figure>
    
    <h3 class="arky-serif uk-h3 uk-margin-medium-top uk-margin-small-bottom uk-margin-small-top">
        {% if node.field_campus_tipo.0.target_id == '32' %}
            <span>Campus&nbsp;</span>
        {% else %}
            <span>Sede&nbsp;</span>
        {% endif %}{{ node.field_campus_name.value }}
    </h3>

    {% if node.field_direccion.value|length > 0 %}
    <p class="color-rosa uk-margin-small-bottom uk-margin-small-top">{{ node.field_direccion.value }}</p>
    {% endif %}

    {% if node.field_telefono.value|length > 0 %}
    <strong class="color-violeta uk-text-bold">Comunícate al:</strong>
    <p class="uk-margin-small-bottom uk-margin-small-top">
        {{ node.field_telefono.0.value }}
        {% if node.field_telefono[1].value|length > 0 %}
            <span class="color-rosa">&nbsp;&bull;&nbsp;</span>
        {{ node.field_telefono.1.value }}
        {% endif %}
    </p>
    {% endif %}

    {% if node.field_campus_desc.value|length > 0 %}
    <strong class="color-violeta uk-text-bold">
        {% if node.field_campus_tipo.0.target_id == '32' %}
            <span>Este campus</span>
        {% else %}
            <span>Esta sede</span>
        {% endif %}cuenta con:
    </strong>
    <p class="uk-margin-small-bottom uk-margin-small-top">{{ node.field_campus_desc.value }}</p>
    {% endif %}

    <div class="uk-button uk-border-pill button-arrow uk-bottom-default uk-margin-small-top uk-border-naked">
        Explorar {% if node.field_campus_tipo.0.target_id == '32' %}Campus{% else %}Sede{% endif %} <span class="uk-position-center-right feather-arrow-right"></span>
    </div>

</div>                     
</a>



{% elseif view_mode == 'promovidos' %} 
    

    <li> <a class="uk-display-block uk-padding-full uk-position-relative" href="#">
        <p class="uk-h6 uk-margin-remove">{% if node.field_campus_tipo.0.target_id == '32' %}Campus{% else %}Sede{% endif %}</p>
        <p class="uk-h3 uk-margin-remove-top uk-margin-small-bottom">{{ node.field_campus_name.value }}</p>
        <p class="uk-h5 uk-margin-small-top uk-margin-remove-bottom uk-lh-1">Dirección: {{ node.field_direccion.value }}</p>
        <p class="uk-h5 uk-margin-small-top uk-margin-remove-bottom uk-lh-1">Teléfono: {{ node.field_telefono.value }}</p>
    </a></li>


{% elseif view_mode == 'mini' %} 
    

    <li class="uk-padding-large-right">
        {% if node.field_campus_mapa[0].value|length > 0 %}
            <figure class="uk-card uk-margin-small-bottom uk-card-media-top uk-border-rounded uk-overflow-hidden">
                <img 
                    class="teaser-img uk-margin-auto"  
                    alt="{{ node.field_campus_mapa.0.alt }}" 
                    title="{{ node.field_campus_mapa.0.title }}" 
                    data-src="{{ file_url(node.field_campus_mapa.0.entity.fileuri | image_style('800x500') ) }}" uk-img /> 
            </figure>
        {% endif %}
    </li>


{% elseif view_mode == 'buscador' %}


<a class="bee-buscador uk-display-block uk-padding-medium-top" href="{{ url }}">
    <h3 class="color-violeta">{{ label }}</h3>
    {% if node.field_buscador.value|length > 0 %}
        <p>{{ node.field_buscador.value }}</p>
    {% else %}
        <p>{{ node.field_campus_desc.value|raw }}</p>
    {% endif %}
</a>


{% elseif view_mode == 'footer' %} 

    {% include '@tls/node/more_nodes/nodes_campus_footer.html.twig' %} 

{% else %}


<div class="is--campus">

    <div class="uk-container uk-section uk-section-top">
        <a class="uk-button button-arrow button-arrow-left uk-button-default uk-border-pill uk-border-naked" href="./">
            <span class="uk-position-center-right feather-arrow-left"></span> Ir a campus
        </a>
    </div>

    <section uk-scrollspy="cls: uk-animation-fade; target: .figura, .articulo; delay: 250;" id="hello" class="uk-section tls--page">
        <div class="uk-container">
            <header class="block--header block--overview uk-margin-xlarge-top uk-margin-large-bottom uk-position-relative uk-width-4-5--size-l">  
            <h1 class="arky-heading uk-heading-1">
                <span class="uk-lh-1">{% if node.field_campus_tipo.0.target_id == '32' %}Campus&nbsp;{% else %}Sede&nbsp;{% endif %}</span><br>
                <span class="uk-lh-1 arky-line">{{ node.field_campus_name.value }}</span>
            </h1> 
            </header> 

            <div class="uk-overflow-hidden uk-flex-middle uk-flex uk-flex-row uk-flex-wrap">
                <div class="uk-width-1-1 uk-width-4-5--size-l">
                    <div class="swiper-container botones-tipo-1 gallery-top">
                        <div class="swiper-wrapper">
                        {% for galeria in node.field_campus_img %}
                            <figure class="swiper-slide uk-border-rounded">
                                <img 
                                    class="teaser-img uk-margin-auto"  
                                    alt="{{ galeria.alt }}" 
                                    title="{{ galeria.title }}" 
                                    data-src="{{ file_url(galeria.entity.fileuri | image_style('920x500') ) }}" uk-img /> 
                            </figure>
                        {% endfor %}
                        </div>
                        <div class="swiper-button-prev swiper-button-white feather-chevron-left"></div>
                        <div class="swiper-button-next swiper-button-white feather-chevron-right"></div>
                    </div>
                </div>
                <div class="uk-padding-left uk-width-1-1 uk-width-1-5--size-l uk-visible--size-l">
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            {% for thumbs in node.field_campus_img %}
                                <figure class="swiper-slide uk-border-rounded">
                                    <img 
                                    class="teaser-img uk-margin-auto"  
                                    alt="{{ thumbs.alt }}" 
                                    title="{{ thumbs.title }}" 
                                    data-src="{{ file_url(thumbs.entity.fileuri | image_style('160x120') ) }}" uk-img /> 
                                </figure>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {{ attach_library('tls/swiper') }}
        </div>
    </section>

    {% include '@tls/@overview/bk-bloque.html.twig' %}

    {% if node.field_campus_mapa[0].value|length > 0 %}
    <section id="mapa" class="uk-section section-views">
        <div class="uk-container uk-position-relative">
            <header class="bktls--header uk-position-relative uk-text-center">
                <h2 class="arky-heading uk-heading-2">
                    <span class="uk-lh-1 ">¡Visita {% if node.field_campus_tipo.0.target_id == '32' %}nuestro&nbsp;{% else %}nuestra&nbsp;{% endif %}</span><br><span class="uk-lh-1 arky-line">{% if node.field_campus_tipo.0.target_id == '32' %}campus&nbsp;{% else %}sede&nbsp;{% endif %}{{ node.field_campus_name.value }}!</span>
                </h2>
            </header>
 
            <div class="uk-flex-middle uk-flex uk-flex-row uk-flex-wrap">
                {% if node.field_campus_mapa[0].value|length > 0 %}
                <figure class="uk-card uk-margin-small-bottom uk-card-media-top uk-border-rounded uk-overflow-hidden uk-width-1-1 uk-width-1-2--size-s">
                    <img 
                    class="teaser-img uk-margin-auto"  
                    alt="{{ node.field_campus_mapa.0.alt }}" 
                    title="{{ node.field_campus_mapa.0.title }}" 
                    data-src="{{ file_url(node.field_campus_mapa.0.entity.fileuri | image_style('445x500') ) }}" uk-img /> 
                </figure>
                {% endif %}

                {% if node.field_direccion.value|length > 0 %}
                <article class="uk-card-body uk-width-1-1 uk-width-1-2--size-s uk-flex-first--size-s">
                    <h5 class="uk-h4 color-rosa uk-margin-bottom">Dirección:</h5>
                    <p class="uk-h3 uk-margin-remove">{{ node.field_direccion.value }}</p>
                    <p class="uk-h4 uk-margin-remove">
                        <a class="uk-link-text" href="{{node.field_campus_mapa_link.0.url }}" target="{{ node.field_campus_mapa_link.0.url.external ? '_blank' : '_self' }}">
                            {{node.field_campus_mapa_link.0.title }}
                        </a>
                    </p>
                    {% if node.field_telefono.value|length > 0 %}
                        <h5 class="uk-h4 color-rosa uk-margin-bottom">Teléfono de contacto:</h5>
                        <p class="uk-h3 uk-margin-remove">{{ node.field_telefono.0.value }}{% if node.field_telefono.1.value|length > 0 %} <span class="color-rosa">&bull;</span> {{ node.field_telefono.1.value }}{% endif %}</p>
                    {% endif %}
                    {% if node.field_campus_horarios.value|length > 0 %}
                        <h5 class="uk-h4 color-rosa uk-margin-bottom">Horarios de atención:</h5>
                        <p class="uk-h3 uk-margin-remove">{{ node.field_campus_horarios.0.value }}</p>
                        {% if node.field_campus_horarios.1.value|length > 0 %}<p class="uk-h3 uk-margin-remove">{{ node.field_campus_horarios.1.value }}</p>{% endif %}
                    {% endif %}
                </article>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

</div>

{% endif %}