{% set month        = node.created.value|date('F') %}
{% set day          = node.created.value|date('d') %}
{% set year         = node.created.value|date('Y') %}

<div class="uk-section uk-section-bottom">
    <a class="uk-button button-arrow button-arrow-left uk-button-default uk-border-pill uk-border-naked" href="./">
        <span class="uk-position-center-right feather-grid"></span> Ir a 
        {% if node.field_pub_tipo.0.target_id == '5' %} {# noticias #}
            noticias
        {% elseif node.field_pub_tipo.0.target_id == '6' %} {# eventos #}
            eventos
        {% elseif node.field_pub_tipo.0.target_id == '38' %} {# blogs #}
            blogs
        {% elseif node.field_pub_tipo.0.target_id == '39' %} {# proyectos #}
            proyectos
        {% elseif node.field_pub_tipo.0.target_id == '40' %} {# publicaciones #}
            publicaciones
        {% endif %}
    </a>
</div>

<header class="uk-padding-xxxlarge-left uk-grid uk-grid-medium uk-flex-center--size-m uk-flex-between--size-m">
    <div class="header-calendar uk-width-auto--size-m uk-margin-medium-bottom uk-margin-xlarge-top">
        <p class="uk-heading-2 uk-margin-remove-bottom uk-margin-small-top">{{ '%s'|format(day) }}</p>
        <p class="color-violeta uk-h4 uk-margin-remove-top">{{ '%s'|format(month|t) }}</p>
    </div>
    <div class="uk-width-expand--size-m"> 

    {% if node.field_tags[0].value|length > 0 %}
        <p class="color-rosa uk-h1 uk-margin-remove-top uk-margin-small-bottom">{{ node.field_tags.0.entity.label }}</p>
    {% endif %}
    {% if node.field_pub_tipo.0.target_id == '6' %} 
        {% if node.field_tema[0].value|length > 0 %}
        <h2 class="color-rosa uk-heading-3 uk-margin-remove-top uk-margin-small-bottom">{{ node.field_tema.value }}</h2>
        {% endif %}
    {% endif %}

    {% if node.field_titulo[0].value|length > 0 %}
    {% for titulo in node.field_titulo %}
    <h1 class="uk-heading-2 uk-margin-remove-top">
        {% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if titulo.entity.field_px_posicion.0.target_id == '23' %}arky-line{% endif %}">
            {{ titulo.entity.field_px_tit_sup.value }}
        </span>
        {% endif %}
        {% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}{# CORTAR #}
        {% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}
        <span 
        class="uk-lh-1 
        {% if titulo.entity.field_px_posicion.0.target_id == '24' %}arky-line{% endif %}">
            {{ titulo.entity.field_px_tit_inf.value }}
        </span>
        {% endif %}   
    </h1>
    {% endfor %}
    {% endif %}

    {% if node.field_autor[0].value|length > 0 and node.field_pub_tipo.0.target_id in ['6', '38', '40'] %}
    {% for people in node.field_autor %}
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <figure class="uk-width-auto uk-border-pill uk-margin-remove-bottom uk-padding-remove uk-margin-left">
                <img 
                class="teaser-img"  
                alt="{{ people.entity.field_people_minipic.0.alt }}" 
                title="{{ people.entity.field_people_minipic.0.title }}" 
                data-src="{{ file_url(people.entity.field_people_minipic.0.entity.fileuri | image_style('77x77') ) }}" uk-img />  
            </figure>
            <article class="uk-width-expand">
                <p class="uk-h6 color-violeta uk-margin-remove">
                    {% if node.field_pub_tipo.0.target_id in ['6'] %}Organizado{% elseif node.field_pub_tipo.0.target_id in ['38', '40'] %}Escrito{% endif %} por:
                </p>
                <h4 class="uk-h3 uk-margin-remove">{{ people.entity.field_people_nombre.value }} {{ people.entity.field_people_apellido.value }}</h4>
                <p class="uk-h5 uk-margin-remove">{{ people.entity.field_people_cargo.value }}</p>
            </article>
        </div>
    {% endfor %} 
    {% endif %}
</div>
</header>

<section class="uk-padding-xxxlarge-left uk-grid uk-grid-large">
<article class="arky--body arky--body-news uk-width-2-3--size-l uk-section-bottom">
    <figure class="figure uk-border-rounded">
        <img 
        class="teaser-img"  
        alt="{{ node.field_image_node.0.alt }}" 
        title="{{ node.field_image_node.0.title }}" 
        data-src="{{ file_url(node.field_image_node.0.entity.fileuri | image_style('730x500') ) }}" uk-img />  
    </figure>
    <div class="summary color-rosa arky-serif uk-h3 uk-margin-medium-top uk-dropcap">
        {{ node.body.summary|raw }}
    </div>
    {{ node.body.value|raw }}

    {% if node.field_pub_tipo.0.target_id == '6' %} {# solo eventos #}
        <h3>Detalles del evento</h3>
        {% if node.field_fecha.value|length > 0 %}<p class="color-violeta"><strong>Día: </strong>{{ node.field_fecha.value }}</p>{% endif %}
        {% if node.field_hora.value|length > 0 %}<p class="color-violeta"><strong>Hora: </strong>{{ node.field_hora.value }}</p>{% endif %}
        {% if node.field_lugar.value|length > 0 %}<p class="color-violeta"><strong>Lugar: </strong>{{ node.field_lugar.value }}</p>{% endif %}
        {% if node.field_mapa_img.value|length > 0 %}
        <p>
            <img  
            alt="{{ node.field_mapa_img.0.alt }}" 
            title="{{ node.field_mapa_img.0.title }}" 
            data-src="{{ file_url(node.field_mapa_img.0.entity.fileuri | image_style('600x400') ) }}" uk-img />  
        </p>
        {% endif %}
    {% endif %}

</article>
<aside class="arky--aside uk-width-1-3--size-l">
    {{ drupal_region('sidebar') }} 
    {% if node.field_pub_tipo.0.target_id in ['38', '6'] %} 
    <div id="call" class="uk-text-center">
        <div class="arky-bg-gris uk-border-rounded uk-padding-medium-left uk-padding-medium-right uk-padding-medium-top uk-padding-medium">
            <img class="uk-border-circle uk-margin-auto uk-background-primary" data-src="{{ base_path ~ directory }}/directos/icono-w.png" uk-img />
            <h4 class="uk-h3 uk-margin-top uk-margin-bottom uk-padding-left uk-padding-right">
                {% if node.field_pub_tipo.0.target_id == '38' %}
                    Suscríbete a nuestro blog
                {% elseif node.field_pub_tipo.0.target_id == '6' %}
                    ¿Deseas asistir al evento?
                {% endif %}
                </h4>
            <p class="color-violeta uk-margin-remove-top">
                {% if node.field_pub_tipo.0.target_id == '38' %}
                Recibe gratuitamente en tu correo todos nuestros artículos de diseño, comunicaciones y negocios e innovación.
                {% elseif node.field_pub_tipo.0.target_id == '6' %}
                Completa los siguientes datos y te notificaremos una vez esté por iniciar el evento.
                {% endif %}
            </p>
            {% if node.field_pub_tipo.0.target_id == '38' %}
            <a href="#subscripcion" class="uk-button uk-button-primary uk-border-pill uk-display-inline-block" uk-scroll>¡Suscribirme!</a>
            {% elseif node.field_pub_tipo.0.target_id == '6' %}
            <a href="#evento" class="uk-button uk-button-primary uk-border-pill uk-display-inline-block" uk-scroll>¡Asistir!</a>
            {% endif %}
        </div>
    </div> 
    {% endif %}
</aside>
</section>

</div></main>{# end uk-container #}

{% if node.field_pub_proyecto_ski[0].value|length > 0 %}
<section class="uk-section uk-background-primary uk-light">
    <div class="uk-container uk-text-center">
        <header class="bktls--header uk-position-relative uk-text-center">
            <h2 class="arky-heading uk-heading-2">
                <span class="uk-lh-1">Skills</span> <span class="uk-lh-1 arky-line">del proyecto</span>
            </h2>
        </header>
        <ul class="uk-button-group uk-margin-auto uk-padding-mobile uk-text-center">
            {% for skills in node.field_pub_proyecto_ski %}
                <li><span class="uk-button uk-button-opacity uk-border-pill uk-margin-small-left uk-margin-small-right">{{ skills.entity.name.value }}</span></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

<section class="uk-section arky-bg-rosa uk-light shareit">
    <div class="uk-container{% if not node.field_autor[0].value|length > 0 %} uk-text-center{% endif %}">
        {% if node.field_autor[0].value|length > 0 %}
        <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
            <div class="uk-width-2-3--size-m uk-text-center uk-text-left--size-m">

                {% for people in node.field_autor %}
                <h4 class="uk-heading-3">
                    {% if (node.field_pub_tipo.0.target_id in ['6', '38', '40']) and (node.field_autor[0].value|length > 0) %}    
                    Sobre <span class="arky-line">el {% if node.field_pub_tipo.0.target_id in ['6'] %}speaker:{% elseif node.field_pub_tipo.0.target_id in ['38', '40'] %}autor:{% endif %}</span>
                    {% elseif node.field_pub_tipo.0.target_id in ['39'] %}
                        Equipo de <br><span class="arky-line">{% if node.field_pub_proyecto.0.target_id in ['57'] %}estudiantes:{% elseif node.field_pub_proyecto.0.target_id in ['58'] %}egresados:{% endif %}</span>
                    {% endif %}
                </h4>
                <article class="uk-grid-large uk-grid" uk-grid>
                    {% if node.field_pub_tipo.0.target_id in ['6', '38', '40'] %} 

                    <div class="uk-width-expand--size-m">
                        {% if node.field_pub_tipo.0.target_id in ['6', '38', '40'] %}
                            <h5 class="uk-h4">Sobre {{ people.entity.field_people_nombre.value }} {{ people.entity.field_people_apellido.value }}</h5>
                            <p>{{ people.entity.body.summary }}</p> 
                            <ul class="uk-iconnav uk-flex-center uk-flex-left--size-m">
                                {% if people.entity.field_facebook[0].value|length > 0 %}
                                <li><a href="{{ people.entity.field_facebook.url }}" class="uk-button uk-button-opacity uk-border-pill boton-red feather-facebook" target="_blank"></a></li>
                                {% endif %}
                                {% if people.entity.field_twitter[0].value|length > 0 %}
                                <li><a href="{{ people.entity.field_twitter.url }}" class="uk-button uk-button-opacity uk-border-pill boton-red feather-twitter" target="_blank"></a></li>
                                {% endif %}
                                {% if people.entity.field_instagram[0].value|length > 0 %}
                                <li><a href="{{ people.entity.field_instagram.url }}" class="uk-button uk-button-opacity uk-border-pill boton-red feather-instagram" target="_blank"></a></li>
                                {% endif %}
                                {% if people.entity.field_linkedin[0].value|length > 0 %}
                                <li><a href="{{ people.entity.field_linkedin.url }}" class="uk-button uk-button-opacity uk-border-pill boton-red feather-linkedin" target="_blank"></a></li>
                                {% endif %}
                            </ul>  
                        {% endif %}
                    </div>
                    {% if people.entity.field_people_minipic.value|length > 0 %}
                    <div class="uk-margin-auto uk-margin-bottom">
                    <figure class="autor-pic uk-width-auto uk-border-pill uk-margin-auto">
                        <img 
                        class="teaser-img uk-border-pill"  
                        alt="{{ people.entity.field_people_minipic.0.alt }}" 
                        title="{{ people.entity.field_people_minipic.0.title }}" 
                        data-src="{{ file_url(people.entity.field_people_minipic.0.entity.fileuri | image_style('220x220') ) }}" uk-img />  
                    </figure></div>
                    {% endif %}

                    {% elseif node.field_pub_tipo.0.target_id in ['39'] %}
                        <ul class="uk-grid-small uk-first-column uk-child-width-1-2--size-s proyecto-grupal" uk-grid>
                        {% for people_grupal in people.entity.field_people_grupal %}
                            <li class="uk-flex uk-flex-row uk-flex-middle">
                                <figure class="autor-pic uk-width-auto uk-border-pill">
                                    <img 
                                    class="teaser-img uk-border-pill"  
                                    alt="{{ people_grupal.entity.field_px_foto.0.alt }}" 
                                    title="{{ people_grupal.entity.field_px_foto.0.title }}" 
                                    data-src="{{ file_url(people_grupal.entity.field_px_foto.0.entity.fileuri | image_style('125x125') ) }}" uk-img />  
                                </figure>
                                <article class="uk-margin-left">
                                    <p class="uk-h4 uk-margin-remove-top uk-margin-small-bottom">{{ people_grupal.entity.field_px_nombres.value }}</p>
                                    <p class="uk-margin-remove">{{ people_grupal.entity.field_px_disposicion.value }}</p>
                                </article>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </article>
                {% endfor %}
            </div>

            <div class="uk-width-expand--size-m compartir-right uk-position-relative uk-text-center uk-text-left--size-m">
        {% endif %}

                <header class="block--header uk-margin-large-bottom uk-position-relative {% if not node.field_autor[0].value|length > 0 %}uk-text-center{% endif %}">
                    <h3 class="arky-heading {% if not node.field_autor[0].value|length > 0 %}uk-heading-2{% else %}uk-heading-3{% endif %}">Compártelo</h3>
                    <p class="uk-h4 uk-margin-remove-top">Comparte este sitio con otros estudiantes o amigos:</p>
                </header>
                <ul class="uk-button-group uk-margin-auto uk-padding-mobile{% if not node.field_autor[0].value|length > 0 %} uk-text-center{% else %} uk-display-block{% endif %}">
                    <li>
                        <a 
                        class="uk-button uk-button-opacity uk-border-pill uk-margin-small-left uk-margin-small-right" 
                        href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" 
                        target="_blank">
                            <span class="feather-facebook"></span> Compartir por Facebook  
                        </a>
                    </li>
                    <li>
                        <a 
                        class="uk-button uk-button-opacity uk-border-pill uk-margin-small-left uk-margin-small-right" 
                        href="https://twitter.com/intent/tweet?url={{ url('<current>') }}" 
                        target="_blank">
                            <span class="feather-twitter"></span> Compartir por Twitter
                        </a> 
                    </li>
                    <li>
                        <a 
                        class="uk-button uk-button-opacity uk-border-pill uk-margin-small-left uk-margin-small-right" 
                        href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('<current>') }}" 
                        target="_blank">
                            <span class="feather-linkedin"></span> Compartir por Linkedin
                        </a> 
                    </li>
                </ul>

        {% if node.field_autor[0].value|length > 0 %}
            </div>
        </div>
        {% endif %}
    </div>
</section>