{% include '@tls/node/more_all/all_intro.html.twig' ignore missing %}
{% if node.body.value|length > 0 %}
<section class="uk-section mrg_top_delete page">
<div class="uk-container contenido">
{{ node.body.value|raw }}
</div>
</section>
{% endif %}
<section class="uk-section bg_blanco page menu_befs mrg_top_delete">
<div class="uk-container">
{% if node.field_core_tipo.0.target_id in ['1'] %}
{{ drupal_block('menu_block:targets', {level: 1, depth: 1, parent: 'targets:menu_link_content:dd346e31-2ddd-4bbe-b606-cf1584771fe6', suggestion: 'targets'}) }}
{% elseif node.field_core_tipo.0.target_id in ['2'] %}
{{ drupal_block('menu_block:targets', {level: 1, depth: 1, parent: 'targets:menu_link_content:ed53a8dd-f5a4-458f-bb3f-4571ef627ff0', suggestion: 'targets'}) }}
{% elseif node.field_core_tipo.0.target_id in ['3'] %}
{{ drupal_block('menu_block:targets', {level: 1, depth: 1, parent: 'targets:menu_link_content:f5ec923c-08a2-4c46-a16d-7b34c57044c1', suggestion: 'targets'}) }}
{% elseif node.field_core_tipo.0.target_id in ['4'] %}
{{ drupal_block('menu_block:targets', {level: 1, depth: 1, parent: 'targets:menu_link_content:5a2ca863-5ad2-4daa-ac2a-c01005e703e5', suggestion: 'targets'}) }}
{% else %}
{% endif %}
</div>
</section>
{% include '@tls/node/more_all/all_blocks.html.twig' ignore missing %}