<section class="tls--page">
    <header class="block--header uk-margin-xlarge-top uk-margin-xlarge-bottom uk-position-relative">
        <h3 class="arky-heading uk-heading-1">
            <span class="uk-lh-1">{{ node.field_titulo.entity.field_px_tit_sup.value }}</span><br>
            <span class="uk-lh-1 arky-line">{{ node.field_titulo.entity.field_px_tit_inf.value }}</span>       
        </h3> 
    </header>
    <article class="arky--body">
        {{ node.body.value|raw }}
    </article>
</section>