{% set text = content.field_overview.entity.field_px_ow_body|render|striptags %}

{% if view_mode == 'teaser' %}


<a class="teaser_link teaser_target" href="{{ url }}">
    <figure class="teaser_figure">
        <img class="teaser_img"  
        alt="{{ node.field_fondo.0.alt }}" width="300" height="380" 
        title="{{ node.field_fondo.0.title }}" 
        data-src="{{ file_url(node.field_fondo.0.entity.fileuri | image_style('300x380') ) }}" uk-img /> 
        <small class="teaser_badge">{{ node.field_core_mundo.entity.label }}</small>
        {% if node.field_new.value == '1' %}
        <small class="teaser_new">Nueva</small>
        {% endif %}
    </figure>
    <article class="teaser_body teaser_color">
        <h3 class="teaser_title">{{ label }}</h3>
        <div class="boton_flecha iflecha">Ver más</div>
    </article>
</a>


{% elseif view_mode == 'buscador' %}


<a class="bee-buscador uk-display-block uk-padding-medium-top" href="{{ url }}">
    <h3 class="color-violeta">{{ label }}</h3>
    {% if node.field_buscador.value|length > 0 %}
        <p>{{ node.field_buscador.value }}</p>
    {% else %}
        <p>{{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}</p>
    {% endif %}
</a>


{% elseif view_mode == 'inicio' %}

<a class="teaser_link teaser_inicio" href="{{ url }}">
    <figure class="teaser_figure">
        <img class="teaser_img"  
        alt="{{ node.field_fondo.0.alt }}" width="300" height="380" 
        title="{{ node.field_fondo.0.title }}" 
        data-src="{{ file_url(node.field_fondo.0.entity.fileuri | image_style('300x380') ) }}" uk-img /> 
        <small class="teaser_badge">{{ node.field_core_mundo.entity.label }}</small>
        <small class="teaser_new">Online</small>
    </figure>
    <article class="teaser_body teaser_color">
        <h3 class="teaser_title">{{ label }}</h3> 
        {% if node.field_core_curso_inicio.value|length > 0  %}
        <p>Inicio: {{ node.field_core_curso_inicio.entity.field_px_dia.value }} de {{ node.field_core_curso_inicio.entity.field_px_mes.value }}</p>
        {% endif %}
        <div class="boton_flecha iflecha">Ver más</div>
    </article>
</a>

{% else %}

    <h1 class="uk-heading-1">{{ label }}</h1>

{% endif %}