{% include '@tls/+maquetas/header.html.twig' %}

{% if ( (not node.field_plantilla[0].value|length > 0) and (node.getType in ['page']) ) %} {# ONE: Si es articulo no target #}

<div id="page" class="page">
<main class="uk-section">
<div class="uk-container">
{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}
</div>
</main>

{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 

{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}
</div>

{# TWO: Si contiene formulario #}
{% elseif ( 
    is_front or 
    (node.id in ['78']) or 
    ( node.getType in [
        'tls_core', 'article', 'nested_targets'
    ] ) or 
    ( theme_hook_suggestions.0 in [
        'page__blogs', 'page__eventos', 'page__noticias', 'page__proyectos'
    ] ) 
) %} 

{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}
{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 

{% if is_front or ( node.getType in ['tls_core', 'nested_targets'] ) or (node.id in ['78']) %}
    {% include '@tls/+forms/formulario.html.twig' ignore missing %}
{% elseif ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['6'] ) %}
    {% include '@tls/+forms/formulario_eventos.html.twig' ignore missing %}
{% elseif ( 
    ( node.getType in ['article'] and node.field_pub_tipo.0.target_id in ['38'] ) or 
    ( theme_hook_suggestions.0 in ['page__blogs'] )
) %} 
    {% include '@tls/+forms/formulario_subs.html.twig' ignore missing %}
{% endif %} 

{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}

{% else %} {# THREE: Los demas casos #}

<div id="page" class="page">
{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}
{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 
{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}
</div>

{% endif %}

{% include '@tls/+maquetas/more.html.twig' ignore missing %}
<div class="free">
{{ page.free_area }}
</div>