{% include '@tls/+maquetas/header.html.twig' %}

<div id="page" class="page">
{% if page.precomplementary %}
    {{ page.precomplementary }}
{% endif %}
{% if page.content %}
    {{ page.content }}
{% endif %}

{% include '@tls/+forms/leads.html.twig' ignore missing %} 

{% if page.complementary %}
    {{ page.complementary }}
{% endif %} 
{% if page.postcomplementary %}
    {{ page.postcomplementary }}
{% endif %} 
{% include '@tls/+maquetas/prefooter.html.twig' %}
{% include '@tls/+maquetas/footer.html.twig' %}
</div>

{% include '@tls/+maquetas/more.html.twig' ignore missing %}