{% include '@tls/+maquetas/header.html.twig' %}

<div id="page" class="page">

    {% if page.content %}
    <main class="uk-section">

        <div class='uk-container'> 

            <div class="uk-section uk-section-bottom">
                <a class="uk-button button-arrow button-arrow-left uk-button-default uk-border-pill uk-border-naked" href="./">
                    <span class="uk-position-center-right feather-arrow-left"></span> Ir a atrás
                </a>
            </div>

            <header class="uk-grid uk-grid-medium uk-flex-center--size-m uk-flex-between--size-m">
                <div class="uk-width-1-1"> 

                    <h1 class="uk-heading-1 uk-margin-remove-top">
                        <span class="uk-lh-1">Categorías:</span>
                        <br>
                        <span class="uk-lh-1 arky-line">{{ term.name.value }}</span>
                    </h1>

                </div>
            </header>

            <section class="uk-grid uk-grid-large">
                <article class="uk-width-2-3--size-l uk-section-bottom">
                    {{ page.precomplementary }}
                    {{ page.content }}
                </article>
                <aside class="arky--aside uk-width-1-3--size-l uk-flex-first--size-l">
                    {{ drupal_menu('faq-menu') }}
                </aside>
            </section>

        </div>

    </main>
    {% endif %}

    {% if page.complementary %}
        {{ page.complementary }}
    {% endif %} 

    {% include '@tls/+maquetas/prefooter.html.twig' %}
    {% include '@tls/+maquetas/footer.html.twig' %}

</div>

{% include '@tls/+maquetas/more.html.twig' ignore missing %}