{% include '@tls/plantillas/more_plantillas/plantilla_home_slider.html.twig' %} 

{% include '@tls/plantillas/more_plantillas/plantilla_home_mundos.html.twig' %} 

{% include '@tls/plantillas/more_plantillas/plantilla_home_ec.html.twig' %} 


{% for banner in node.field_banner %}

{% if loop.first %} 

{% set filename_banner_img = banner.entity.field_px_img.entity.fileuri %}
{% set filename_banner_mov = banner.entity.field_px_img_movil.entity.fileuri %}

    <script async defer>

const mq=window.matchMedia("(max-width: 599px)"),
fs=document.getElementById("slider_1"),
fsBg=document.getElementById("slider_bg-1"),
wSec=document.getElementById("toulouse_lautrec");
function hc(e){e.matches?(
    fsBg.style.backgroundImage="url('https://www.toulouselautrec.edu.pe/sites/default/files/{{ filename_banner_mov|replace({ 'public://': '' }) }}')",
    wSec.style.height="500px"
    ):(
    fs.style.backgroundImage="url('https://www.toulouselautrec.edu.pe/sites/default/files/{{ filename_banner_img|replace({ 'public://': '' }) }}')",
    wSec.style.height="700px"
    )
}
mq.addListener(hc),hc(mq);

    </script>
{% endif %}
{% endfor %}