{% set BLOQUE_ATTR = create_attribute() %}
    
{% set blocks_attr = { 
    ID : blocks.entity.field_px_id.value,
    ANIMS: "cls: uk-animation-fade; target: .uk-container; delay: 250;"|lower,
    CLASSES: [
        'uk-section', 'page', 
        blocks.entity.field_px_clase.value,
        ( blocks.entity.field_px_borrar_margen.0.target_id in ['28'] ) ? 'mrg_top_delete' : '',
        ( blocks.entity.field_px_borrar_margen.0.target_id in ['29'] ) ? 'mrg_bottom_delete' : '',
        ( blocks.entity.field_px_borrar_margen.0.target_id in ['91'] ) ? 'mrg_bottom_delete mrg_top_delete' : '',
        ( blocks.entity.field_px_border.value in ['1'] ) ? 'brd_top' : '',
        ( not blocks.entity.field_px_color.0.value ) ? 'bg_blanco' : '',
        ( blocks.entity.field_px_color.0.target_id in ['7'] ) ? 'bg_clr_rosa' : '',
        ( blocks.entity.field_px_color.0.target_id in ['8'] ) ? 'bg_clr_violeta' : '',
        ( blocks.entity.field_px_color.0.target_id in ['37'] ) ? 'bg_clr_celeste' : '',
        ( blocks.entity.field_px_color.0.target_id in ['25'] ) ? 'bg_clr_gris' : '',
    ]
} %}