<header class="intro uk-section mrg_bottom_delete page bg_blanco">
<div class="uk-container">
<div class="header_title">
{% if node.field_titulo[0].value|length > 0 %}
{% for titulo in node.field_titulo %}
<h1 id="title" class="title">
{% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}{{ titulo.entity.field_px_tit_sup.value }}&nbsp;{% endif %}
{% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}
{% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}<span class="stroke">{{ titulo.entity.field_px_tit_inf.value }}</span>{% endif %}
</h1>
{% if titulo.entity.field_px_subtitular[0].value|length > 0 %}
<p class="subtitle c_rosa">{{ titulo.entity.field_px_subtitular.value }}</p>
{% endif %}
{% endfor %}
{% endif %}
</div>
</div>
</header>