{% if node.field_bloque_tls[0].value|length > 0 %}
{% for blocks in node.field_bloque_tls %}
  {% if blocks.entity.field_published.value == '1' %} {# NO SE MOSTRARA NADA #}
  {% else %} {# NO SEPARARLO DE 1 #}

{% set BLOQUE_ATTR = create_attribute() %}
    
{% set blocks_attr = { 
    ID : blocks.entity.field_px_id.value,
    ANIMS: "cls: uk-animation-fade; target: .uk-container; delay: 250;"|lower,
    CLASSES: [
        'uk-section', 'page', 
        blocks.entity.field_px_clase.value,
        ( blocks.entity.field_px_borrar_margen.0.target_id in ['28'] ) ? 'mrg_top_delete' : '',
        ( blocks.entity.field_px_borrar_margen.0.target_id in ['29'] ) ? 'mrg_bottom_delete' : '',
        ( blocks.entity.field_px_borrar_margen.0.target_id in ['91'] ) ? 'mrg_bottom_delete mrg_top_delete' : '',
        ( blocks.entity.field_px_border.value in ['1'] ) ? 'brd_top' : '',
        ( not blocks.entity.field_px_color.0.value ) ? 'bg_blanco' : '',
        ( blocks.entity.field_px_color.0.target_id in ['7'] ) ? 'bg_clr_rosa' : '',
        ( blocks.entity.field_px_color.0.target_id in ['8'] ) ? 'bg_clr_violeta' : '',
        ( blocks.entity.field_px_color.0.target_id in ['37'] ) ? 'bg_clr_celeste' : '',
        ( blocks.entity.field_px_color.0.target_id in ['25'] ) ? 'bg_clr_gris' : '',
    ]
} %}

<section{{ BLOQUE_ATTR.addClass(blocks_attr.CLASSES).setAttribute('id', blocks_attr.ID).setAttribute('uk-scrollspy', blocks_attr.ANIMS) }}>

  {% include '@tls/node/all_blocks/header_blocks.html.twig' ignore missing %}

  <div class="uk-container">
    {% if blocks.entity.bundle in ['views_drupal'] %}
        {% include '@tls/node/all_blocks/blocks_views_drupal.html.twig' ignore missing %}
    {% elseif blocks.entity.bundle in ['bloque_tls'] %}
        {% include '@tls/node/all_blocks/blocks_bloque_tls.html.twig' ignore missing %}
    {% endif %}
  </div>

</section>

  {% endif %} {# YA SE MOSTRO TODO #}
{% endfor %}
{% endif %}