{% if is_front or (node.id in ['78']) or ( node.getType in ['tls_core', 'article'] ) %}
<footer id="somos_tls" class="uk-section page footer">
{% else %}
<footer id="somos_tls" class="uk-section footer">
{% endif %}
<div class='uk-container'>
<div class="footer_group" uk-grid>
<div class="footer_group-banner"><p>{{ footer_text_title }}<br> <span class="c_rosa">{{ footer_text_title_pink }}</span></p></div>
<div class="footer_group-paragraph c_violeta">
    <p>{{ footer_text_display }} {{ footer_text_display_plus }}</p>
</div>
<div class="footer_group-icons"> 
    {{ drupal_block('block_content:dbc266c6-c7bd-4e69-bb80-0dca4130b493') }} {# RRSS #}
    {{ drupal_block('block_content:398bfddc-182e-4afd-8781-fabcbe9465db') }} {# Reclamaciones #}
</div>
<div class="footer_group-list">
    {{ drupal_menu('footer', 1 , 0, false) }}
    <p>Toulouse Lautrec - Copyright {{ 'now' | date('Y') }}</p>
</div>
</div>
</div>
</footer>  