<div id="chat_frame" class="uk-modal-full modal modal_total modal_chat modal_frame" uk-modal></div>

<div style="display: none; width: 0; height: 0; overflow: hidden;">
{% include '@tls/+maquetas/tls_menu.html.twig' %}
{% include '@tls/+maquetas/tls_search.html.twig' %} 
{% include '@tls/+maquetas/tls_carreras.html.twig' %} 
{% include '@tls/+maquetas/tls_continuas.html.twig' %} 
{% include '@tls/+maquetas/tls_chat_invite.html.twig' %}
</div>

{% include '@tls/+maquetas/tls_chat.html.twig' %} 