{% if is_front or (node.id in ['78']) or ( node.getType in ['tls_core', 'article'] ) %}
<section class="uk-section page bg_clr-lila">
{% else %}
<section class="uk-section bg_clr-lila">
{% endif %}
<div class='uk-container'>
<ul>
<li class="footer_campus uk-grid">
<p class="footer_campus-title">Campus</p>
<div class="footer_campus-items uk-grid">
    {{ drupal_block('views_block:vw_campus-footer_campus') }}
</div>
</li>
<li class="footer_campus uk-grid">
<p class="footer_campus-title">Sedes</p>
<div class="footer_campus-items uk-grid">
    {{ drupal_block('views_block:vw_campus-footer_sedes') }}
</div>
</li>
</ul> 
</div>
</section>