<section id="profesionales" uk-modal class="uk-modal-full modal modal_total modal_target modal_profesionales">
    <div class="uk-modal-dialog bg_clr_suave" uk-height-viewport> 

<a href="#" class="uk-modal-close uk-position-right">
    Cerrar <svg class="svg_24_lila"><use xlink:href="#close"></use></svg>
</a>

<div class="uk-container">
    <header class="tls_header">
        <h4 class="tls_header-title"><span class="stroke">{{ modal_title_cp_1 }}</span>{{ modal_title_cp_2 }}</h4>
        <p class="tls_header-promo">{{ modal_promo_cp }}</p>
    </header>
    
    <div class="tls_menu-container">
        <ul class="switch_modal-tab" uk-tab>
            <li><a href="#">Carreras Profesionales <span>(4 años)</span></a></li>
            <li><a href="#">Carreras Profesionales Técnicas <span>(3 años)</span></a></li> 
        </ul>
        <ul class="switch_modal-content uk-switcher">
            <li>
                {{ drupal_view('menu_targets', 'mt_4') }}
                <footer>
                    <a href="/carreras-profesionales">ver más</a>
                </footer>
            </li>
            <li>
                {{ drupal_view('menu_targets', 'mt_3') }}
                <footer>
                    <a href="/carreras-profesionales-tecnicas">ver más</a>
                </footer>
            </li>
        </ul>
    </div>
</div>
 
    </div>
</section>