<section id="buscar" uk-modal class="uk-modal-full modal modal_total modal_buscador">
    <div class="uk-modal-dialog bg_clr-lila" uk-height-viewport> 

<a href="#" class="uk-modal-close uk-position-right">
    Cerrar <svg class="svg_24_lila"><use xlink:href="#close"></use></svg>
</a>

<div class="uk-container">
    <header class="tls_header">
        <h4 class="tls_header-title"><span class="stroke">{{ modal_title_search_1 }}</span>{{ modal_title_search_2 }}</h4>
    </header>

    {{ drupal_block('views_exposed_filter_block:buscador-buscador') }} {# BUSCADOR #}
    
    <div class="buscador_grid" uk-grid>
        {{ drupal_block("block_content:ff286631-8146-4502-bf8b-4d6fe90fdc0a") }}
        {{ drupal_block("block_content:15119374-edf1-412b-b6b4-31989b5edad1") }}
        {{ drupal_block("block_content:ed46f161-9c0e-421b-be6e-caf65de46eb0") }}
    </div>
</div>
 
    </div>
</section>