<section id="chatInvite" uk-modal class="uk-modal-full modal modal_total modal_chat">
<div class="uk-modal-dialog bg_clr-lila" uk-height-viewport> 
<a href="#" class="uk-modal-close uk-position-right">Cerrar <svg class="svg_24_lila"><use xlink:href="#close"></use></svg></a>

<div class="uk-container">
<header class="tls_header">
<h4 class="tls_header-title"><span class="stroke">Chat </span>Toulouse</h4>
</header> 

<article class="tls_article-chat">
<p>He leído las <a href="{{ url('<front>') }}politicas-privacidad" rel="noopener noreferrer" target="_blank" class="c_blanco">Políticas Generales de Privacidad</a> referidas al tratamiento de mis datos personales.<br>Acepto se utilicen mis datos personales para fines comerciales y publicitarios.</p> 
<div>
<span class="boton_calato_flecha" uk-toggle="target:#chat_frame" id="chat_monse" style="max-height: 100%; margin: 0 .25rem;">Sí, acepto <svg class="svg_18_rosa"><use xlink:href="#arrow_right"></use></svg></span>
<span class="boton_small uk-modal-close">No acepto</span> 

</div>
</article>
</div> 

{% if node.getType in ['article', 'tls_campus', 'tls_faq', 'tls_people', 'tls_core'] %}


{% if 'arky.website' in new_path %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "1. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "{{ new_path }}/web/{{ directory }}/templates/chat/chat2.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% elseif '127.0.0.1' in new_path %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "2. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "{{ new_path }}/tls21/web/{{ directory }}/templates/chat/chat2.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% elseif 'toulouselautrec' in new_path %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "3. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "https://www.toulouselautrec.edu.pe/themes/custom/tls/templates/chat/chat2.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% else %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "4. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "{{ new_path }}/{{ directory }}/templates/chat/chat2.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% endif %}


{% else %} {# SOLO RAIZ #}


{% if 'arky.website' in new_path %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "1. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "{{ new_path }}/web/{{ directory }}/templates/chat/chat.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% elseif '127.0.0.1' in new_path %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "2. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "{{ new_path }}/tls21/web/{{ directory }}/templates/chat/chat.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% elseif 'toulouselautrec' in new_path %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "3. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "https://www.toulouselautrec.edu.pe/themes/custom/tls/templates/chat/chat.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% else %}
<script async defer>
! function() {
  "use strict";
  var t = document.getElementById("chat_monse"),
    e = document.getElementById("chat_frame"),
    n = new XMLHttpRequest;
  n.onreadystatechange = function() {
    4 === n.readyState && (200 === n.status ? e.innerHTML = n.responseText : e.innerHTML = "4. An error occurred during your request: " + n.status + " " + n.statusText)
  }, 
  n.open("Get", "{{ new_path }}/{{ directory }}/templates/chat/chat.html"), t.addEventListener("click", function() {
    document.getElementById("cht").setAttribute("uk-toggle", "target:#chat_frame"), n.send()
  })
}();
</script>
{% endif %}


{% endif %}

</div>
</section>