{% if blocks.entity.field_px_variacion.0.target_id == '76' %}


    {% if blocks.entity.field_px_listado[0].value|length > 0 %}
        <article class="bktls--cuerpo uk-margin-top">
            <ul class="uk-margin-auto uk-grid-small uk-child-width-1-2 uk-child-width-1-4--size-m uk-h3" uk-grid>
                {% for listado in blocks.entity.field_px_listado %}
                    <li><span class="border-rosa uk-display-block uk-padding-large-bottom uk-height-1-1 uk-text-break">{{ listado.value }}</span></li>
                {% endfor %}
            </ul>
        </article>
    {% endif %} 


{% elseif blocks.entity.field_px_variacion.0.target_id == '77' %}

    {% if blocks.entity.field_px_listado[0].value|length > 0 %}
        <article class="bktls--cuerpo uk-margin-top">
            <ul class="uk-margin-auto uk-grid-small uk-child-width-1-2 uk-child-width-1-3--size-m uk-width-4-5--size-m uk-h3" uk-grid>
                {% for listado in blocks.entity.field_px_listado %}
                    <li><span class="border-rosa uk-display-block uk-padding-large-bottom uk-height-1-1 uk-text-break">{{ listado.value }}</span></li>
                {% endfor %}
            </ul>
        </article>
    {% endif %} 


{% else %}


<article class="contenido">
 
    {% if blocks.entity.field_px_listado[0].value|length > 0 %}
        <ul class="columna ancho-900-75">
            {% for listado in blocks.entity.field_px_listado %}
            <li>{{ listado.value }}</li>
            {% endfor %}
        </ul>
    {% endif %} 

    {% if blocks.entity.field_px_ow_body[0].value|length > 0 %}
        <div class="{% if blocks.entity.field_px_columnas.0.target_id == '31' %}ancho-900-50{% else %}ancho-900-60{% endif %} uk-margin-auto">
        {{ blocks.entity.field_px_ow_body.value|raw }}
        </div>
    {% endif %} 

    {% if blocks.entity.field_px_ow_link.value|length > 0 %}
    <a class="boton" href="{{ blocks.entity.field_px_ow_link.0.url }}">
        {{ blocks.entity.field_px_ow_link.title }} 
    </a>
    {% endif %}

</article> 

{% endif %}