{% set drupal_views = blocks.entity.field_px_view.0.target_id %}
{% set drupal_views_display = blocks.entity.field_px_view.0.display_id %}            
{{ drupal_view(drupal_views, drupal_views_display) }}