{% set HEADER_BLOQUE_ATTR = create_attribute() %}
{% set header_blocks_attr = { 
    CLASSES: [
        blocks.entity.field_px_clase.value,
        ( blocks.entity.field_px_ow_tits.entity.field_px_text_pos.0.target_id == '34' ) ? 'txt_center' : '',
        ( blocks.entity.field_px_ow_tits.entity.field_px_text_pos.0.target_id == '35' ) ? 'txt_right' : '',
        ( blocks.entity.field_cta.entity.field_px_cta.0.target_id == '19' ) ? 'txt_left' : '',
    ]
} %}

{% if blocks.entity.field_px_ow_tits[0].value|length > 0 %}
<header{{ HEADER_BLOQUE_ATTR.addClass(header_blocks_attr.CLASSES) }}>
    <div class="uk-container">

    <h2 class="title">
        {% if blocks.entity.field_px_ow_tits.entity.field_px_subtitular[0].value|length > 0 and blocks.entity.field_px_variacion.0.target_id == '80' %}
        <span class="uk-display-block uk-h1 uk-margin-remove-bottom">
            {{ blocks.entity.field_px_ow_tits.entity.field_px_subtitular.value }}
        </span>
        {% endif %}
        {% if blocks.entity.field_px_ow_tits.entity.field_px_tit_sup.value|length > 0 %}
        <span{% if blocks.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '23' %} class="stroke"{% endif %}>
            {{ blocks.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}</span>
        {% endif %}
        {% if blocks.entity.field_px_ow_tits.entity.field_px_cortar.value == '1' %}<br>{% endif %}
        {% if blocks.entity.field_px_ow_tits.entity.field_px_tit_inf[0].value|length > 0 %}
        <span{% if blocks.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '24' %} class="stroke"{% endif %}>
            {{ blocks.entity.field_px_ow_tits.entity.field_px_tit_inf.value }}</span>
        {% endif %}
        {% if blocks.entity.field_px_ow_tits.entity.field_px_subtitular[0].value|length > 0 and not blocks.entity.field_px_variacion.0.target_id == '80' %}
        <br>
        <span class="uk-display-block uk-heading-5">
            {{ blocks.entity.field_px_ow_tits.entity.field_px_subtitular.value }}
        </span>
        {% endif %}
    </h2>

    {% if blocks.entity.field_cta.entity.field_px_cta.0.target_id in ['18', '19'] %}
    <a  
        target="{{ blocks.entity.field_cta.entity.field_px_link.0.url.external ? '_blank' : '_self' }}"
        class="block--header-button button-arrow uk-button uk-button-primary uk-border-pill uk-box-shadow-small uk-box-shadow-hover-medium" 
        href="{{ blocks.entity.field_cta.entity.field_px_link.0.url }}">
            {{ blocks.entity.field_cta.entity.field_px_link.0.title }}<span class="uk-position-center-right feather-arrow-right"></span> 
    </a>
    {% endif %} 

    </div>
</header>
{% endif %}