{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items"> 
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a 
          href="{{ items.previous.href }}" 
          title="{{ 'Go to previous page'|t }}" 
          rel="prev"
          data-svg="arrow_left"
          {{ items.previous.attributes.addClass('ileft')|without('href', 'title', 'rel') }}> 
            <span aria-hidden="true">Antes</span>
          </a>
        </li>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="pager__item{{ current == key ? ' is-active uk-active' : '' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
          {% else %}
            {% set title = 'Go to page @key'|t({'@key': key}) %}
          {% endif %}
          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
            <span class="visually-hidden">
              {{ current == key ? 'Current page'|t : 'Page'|t }}
            </span>
            {{- key -}}
          </a>
        </li>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a 
          href="{{ items.next.href }}" 
          title="{{ 'Go to next page'|t }}" 
          rel="next"
          data-svg="arrow_right"
          {{ items.next.attributes.addClass('iright')|without('href', 'title', 'rel') }}> 
            <span aria-hidden="true">Siguiente{#{ items.next.text|default('Siguiente'|t) }#}</span>
          </a>
        </li>
      {% endif %} 
    </ul>
  </nav>
{% endif %}
