{% if node.field_image[0].value|length > 0 %}
<figure class="teaser_figure">
    <img class="teaser_img"  height="302" width="438" 
    alt="{{ node.field_image.0.alt }}" title="{{ node.field_image.0.title }}" 
    data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('438x302') ) }}" uk-img />
    <span class="teaser_badge">Live</span>
</figure>
{% endif %}

<article {% if is_front %}class="teaser_body"{% else %}class="teaser_body teaser_color"{% endif %}>
    {% if node.field_tema.value|length > 0 %}
        <p class="teaser_parrafo">{{ node.field_tema.value }}</p>
    {% endif %}
        <h3 class="teaser_title">{{ label }}</h3>
    {% if node.field_lugar.value|length > 0 %}
        <p class="teaser_parrafo">Lugar: {{ node.field_lugar.value }}</p>
    {% endif %}
    {% if node.field_fecha.value|length > 0 %}
        <p class="teaser_parrafo">{{ node.field_fecha.value }} &nbsp;&nbsp; {{ node.field_hora.value }}</p>
    {% endif %}
    <div class="boton_flecha iflecha">Ver más</div>
</article>