{% if node.field_url_externo.value|length > 0 %}
<a href="{{ node.field_url_externo.0.url }}" target="_blank" rel="noreferrer noopener" class="teaser_link">
{% else %}
<a href="{{ url }}" class="teaser_link">
{% endif %}
{% if node.field_image[0].value|length > 0 %}
<figure class="teaser_figure">
<img class="teaser_img" alt="{{ node.field_image.0.alt }}" title="{{ node.field_image.0.title }}" width="252" height="160"  
data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('252x160') ) }}" uk-img /> 
</figure>
{% endif %}
<p class="c_rosa teaser_title">{{ label }}</p>
{% if node.field_fecha.value|length > 0 %}
<p class="teaser_parrafo c_lila">{{ node.field_fecha.value }}&nbsp;&bull;&nbsp;{{ node.field_hora.value }}</p>
{% endif %} 
</a>