{% if paragraph.field_px_desktop.value == '1' %}
{% set class = "top_item-desktop" %}
{% elseif paragraph.field_px_movil.value == '1' %}
{% set class = "top_item-movil" %}
{% endif %}
{% if paragraph.field_px_svg_stroke.value == '1' %}
{% set class = "svgstroke" %}
{% endif %}
<li class="top_item {{ class }}">
<a class="hipericon_link icon_rosa" 
aria-label="{{ paragraph.field_px_titulo.value }}" 
{% if paragraph.field_config_menufixed.value == 'config_mf_modal' %}
uk-toggle="target:{{ paragraph.field_px_link.0.url }}"  
{% elseif paragraph.field_config_menufixed.value == 'config_mf_dropdown' %}
uk-toggle="target:{{ paragraph.field_px_link.0.url }}; cls: show" 
{% elseif paragraph.field_config_menufixed.value == 'config_mf_link' %}
href="{{ paragraph.field_px_link.0.url }}" target="{{ paragraph.field_px_link.0.url.external ? '_blank' : '_self' }}"
{% endif %}
title="{{ paragraph.field_px_titulo.value }}" aria-expanded="false">    
    <svg><use xlink:href="#{{ paragraph.field_config_icon.value }}"></use></svg>
    <small>{{ paragraph.field_px_titulo.value|raw }}</small>
</a>
</li>