  {% if svg_main %}
    <svg class="defs-only" data-url="{{ svg_main }}"></svg>
  {% endif %}
  {% if svg_logo %}
    <svg class="defs-only" data-url="{{ svg_logo }}"></svg>
  {% endif %}
  {% if is_front %}
    {% if svg_portada %}
      <svg class="defs-only" data-url="{{ svg_portada }}"></svg>
    {% endif %}
  {% elseif node.getType in ['tls_core'] %}
    {% if svg_core %}
      <svg class="defs-only" data-url="{{ svg_core }}"></svg>
    {% endif %}
  {% endif %}