{#
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

#}
{#<div>#}
<div class="uk-margin-top uk-text-center uk-margin-large-bottom">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  {#<div{{ row.attributes.addClass(row_classes) }}>#}
        {{- row.content -}}
  {#</div>#}
{% endfor %}
{#</div>#}
</div>