{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  <header>
    {{ header }}
  </header>
{% endif %}

{{ exposed }}
{{ attachment_before }}

{% if rows %}

<div class="slider_container uk-slider-container" tabindex="-1" uk-slider="autoplay: true; center: true;">

<ul class="uk-slider-items slider_items">
{% for item in rows %}
<li class="uk-slider-item slider_item">{{ item.content }}</li>
{% endfor %}
</ul>

<a class="boton_redondo_left icon_svg_18_rosa imundo ihipericon" href="#" uk-slidenav-previous uk-slider-item="previous" data-mundo="chevron_left"></a>
<a class="boton_redondo_right icon_svg_18_rosa imundo ihipericon" href="#" uk-slidenav-next uk-slider-item="next" data-mundo="chevron_right"></a> 

<ul class="dots">
{% for item in rows %}
<li uk-slider-item="{{ loop.index - 1 }}"><span></span></li>
{% endfor %}
</ul>

</div> 

{% elseif empty %}
  {{ empty }}
{% endif %}

{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }} 