
{% if header %}
  <header>
    {{ header }}
  </header>
{% endif %}

{{ exposed }}
{{ attachment_before }}

<div{{ attributes.setAttribute('uk-grid', 'parallax: 150') }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}

</div>

{{ attachment_after }}
{{ more }}

<div style="text-align: center">
{{ pager }}
</div>

  {% if footer or pager %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}