{#
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}#}
{#
  <{{ list.type }}{{ list.attributes }}>
#}
    {% for row in rows %}
  {#    <li{{ row.attributes }}>#}
        {{- row.content -}}
      {#</li>#}
    {% endfor %}

  {#</{{ list.type }}>#}
{#
{% if attributes -%}
  </div>
{% endif %}
#}