div.intro_flex { display: flex; flex-flow: wrap column; align-items: center; text-align: center; }
.intro_title { font-size: 48px; font-weight: 900; }
.intro_subtitle { order: -1; margin-bottom: 1rem; }
.intro_figure { max-width: 90%; position: relative; margin-top: 2rem; }
.intro_img { width: 100%; height: auto; border-radius: 1rem; }
.intro_circle {
    background-color: var(--c-rosa); position: absolute; width: 6rem; height: 6rem;
    border-radius: 50%; top: 0; right: 0; z-index: 0; color: white; padding-top: 2rem; }
@media (min-width: 800px) {
.intro_title { font-size: 72px; } 
.intro_circle { width: 8rem; height: 8rem; padding-top: 3rem; }
}