@media (min-width: 800px) {
.mundo_grid-tab { width: 30%; }
.mundo_grid-listado { flex: 1; }
}

.uk-slideshow-items{ 
    position:relative; z-index:0; margin:0; padding:0; 
    list-style:none; overflow:hidden; -webkit-touch-callout:none; }
.uk-slideshow-items>* { 
    position:absolute; top:0; left:0; right:0; bottom:0; display: block;
    overflow:hidden; will-change:transform, opacity; touch-action:pan-y; }
.uk-slideshow-items>:focus{ outline:none; }
.uk-slideshow-items>:not(.uk-active){ display:none; }

.slider_tls { position: relative; }
.slider_tls-items { min-height: 0!important; height: 500px!important; overflow: hidden; }
.slider_tls-item {  
    display: flex; align-items: center; 
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden; }
.slider_tls-background { height: 600px!important; }

@media (min-width: 600px) {
.slider_tls-container { padding-left: calc(2 * var(--sz-reg)); padding-right: calc(2 * var(--sz-reg)); }
.slider_tls-items{ height: 700px!important }
.slider_tls-background { display: none !important; }
}
@media (min-width:900px) {
.slider_tls-container { padding-left: calc(3 * var(--sz-reg)); padding-right: calc(3 * var(--sz-reg)); } 
}