.js-hide { display: none!important; }
.backwards { 
    border: 1px solid var(--c-lila); color: var(--c-lila); margin-top: 2.5rem; padding: .75rem 1.5rem; border-radius: 2.5rem; display: inline-block;
    position: relative; transition-duration: var(--timer); transition-property: background-color, color; padding-left: 2.75rem; }
.backwards:hover { background-color: var(--c-lila); color: white; }
a.backwards svg { right: auto; left: 1.75rem; fill: var(--c-rosa); }

.intro { margin-bottom: 2.5rem; }
.header_grid { justify-content: start; align-items: center; }
.header_title { display: grid; flex-flow: column wrap; flex: 1;} 

.tls_body { text-align: center; line-height: 1.5; }
.tls_title { font-size: 36px; font-weight: 900; margin-bottom: 1rem; }
.tls_maintitle { font-size: 48px; font-weight: 900; margin-bottom: 1rem; }
.tls_parrafo { text-align: justify; }
.tls_body + .tls_img { margin-top: 1.5rem; margin-left: auto; margin-right: auto; }
.tls_left + .tls_body { margin-top: 1.5rem; }
.tls_img { border-radius: 1rem; max-width: 80%; }
@media (min-width: 600px) {
.tls_texto { align-items: center; }
.tls_body { flex: 1; text-align: left; }
.tls_body + .tls_img { margin-left: 2.5rem; margin-top: 0; max-width: 35%; }
.tls_left + .tls_body { margin-left: 2.5rem; margin-top: 0; }
}
@media (min-width: 900px) {
.tls_img { max-width: 445px; }   
}

.title { font-weight: 900; font-size: 48px; line-height: 1; }
h2.title,
h3.title, 
[class*='article'] h1.title { font-size: 36px; }
.subtitle { order: -1; font-size: 24px; margin-bottom: .5rem; } 
@media (min-width: 600px) {
.title { font-size: 64px; }
h2.title,
h3.title,
[class*='article'] h1.title { font-size: 48px; }
}

.cuerpo { font-size: 18px; line-height: 1.5; }
.cuerpo > *:not(:first-child) { margin-top: 1rem; }
.cuerpo a { color: var(--c-rosa); display: inline-block; border-bottom: 1px dashed var(--c-rosa); }