.menu_befs ul {
    display: flex;
    flex-flow: row wrap;
}
.menu_befs a {
    background-color: var(--c-lila-suave);
    color: var(--c-lila);
    font-size: 13px;
    display: inline-block;
    padding: .5rem!important; 
    border-radius: .5rem;
    margin-right: .5rem;
    position: relative;
    padding-left: 2rem!important;
    margin-bottom: .5rem;;
}
.menu_befs a::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: .5rem;
}
.menu_befs a::after {
    content: '';
    border-bottom: 1px solid var(--c-lila);
    border-right: 1px solid var(--c-lila);
    width: 6px;
    height: 12px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 14px;
    transform: rotate(45deg);
    opacity: 0;
    transition: .25s opacity;
}
.menu_befs .menu-item--active-trail a::after {
    opacity: 1;
}