{% if node.field_overview[0].value|length > 0 %}
{% for overview in node.field_overview %}

{% set section_attr = create_attribute() %}
{% set section_class = [
    "uk-section", "page", 'bg_blanco',
    (overview.entity.field_px_borrar_margen.0.target_id == '28') ? "mrg_top_delete" : "",
    (overview.entity.field_px_borrar_margen.0.target_id == '29') ? "mrg_bottom_delete" : ""
] %}

<section{{ section_attr.addClass(section_class) }}>
<div class="uk-container">            
{% if overview.entity.field_px_ow_body[0].value|length > 0 %}
<div class="tls_texto" uk-grid>

<article class="tls_body">
<h3 class="tls_title">
{% if overview.entity.field_px_ow_tits.entity.field_px_tit_sup[0].value|length > 0 %}
<span {% if overview.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '23' %}class="stroke"{% endif %}>{{ overview.entity.field_px_ow_tits.entity.field_px_tit_sup.value }}</span>
{% endif %}
{% if overview.entity.field_px_ow_tits.entity.field_px_cortar.value == '1' %}<br>{% endif %}
{% if overview.entity.field_px_ow_tits.entity.field_px_tit_inf[0].value|length > 0 %}
<span {% if overview.entity.field_px_ow_tits.entity.field_px_posicion.0.target_id == '24' %}class="stroke"{% endif %}>{{ overview.entity.field_px_ow_tits.entity.field_px_tit_inf.value }}</span>
{% endif %}       
</h3>
<div class="tls_parrafo">{{ overview.entity.field_px_ow_body.value|raw }}</div>
{% if overview.entity.field_px_ow_link[0].value|length > 0 %}
<a class="boton_flecha iflecha" href="{{ overview.entity.field_px_ow_link.0.url }}">
{{ overview.entity.field_px_ow_link.title }}
</a>
{% endif %}
</article>

{% if overview.entity.field_px_ow_img[0].value|length > 0 %}
<img class="tls_img" alt="{{ overview.entity.field_px_ow_img.0.alt }}" title="{{ overview.entity.field_px_ow_img.0.title }}" 
    data-src="{{ file_url(overview.entity.field_px_ow_img.0.entity.fileuri | image_style('445x500') ) }}" width="445" height="500" uk-img /> 
{% endif %}
                
</div>
{% endif %}
</div>
</section>

{% endfor %}
{% endif %}