{% if node.field_carreras_porque[0].value|length > 0 %}
<section class="uk-section page bg_clr-lila">
<div class="uk-container">
<div uk-grid>
    
<header class="tls_left">
<h3 class="tls_maintitle">¿Por qué estudiar<br><span class="stroke">con nosotros?</span></h3>
</header>
<article class="tls_body tls_list">
{{ node.field_carreras_porque.value|raw }}
</article>
        
</div>
</div>
</section>
{% endif %}