{% if node.field_titulo[0].value|length > 0 %}
{% for titulo in node.field_titulo %}

<section class="uk-section page bg_blanco intro">
    <div class="uk-container intro_flex"> 

<h1 id="title" class="intro_title">
{% if titulo.entity.field_px_tit_sup[0].value|length > 0 %}
<span {% if titulo.entity.field_px_posicion.0.target_id == '23' %}class="stroke"{% endif %}>{{ titulo.entity.field_px_tit_sup.value }}</span>
{% endif %}
{% if titulo.entity.field_px_cortar.value == '1' %}<br>{% endif %}
{% if titulo.entity.field_px_tit_inf[0].value|length > 0 %}
<span {% if titulo.entity.field_px_posicion.0.target_id == '24' %}class="stroke"{% endif %}>{{ titulo.entity.field_px_tit_inf.value }}</span>
{% endif %}        
</h1>

<h2 class="intro_subtitle c_rosa">{{ node.field_core_tipo.entity.label }}</h2>

{% if node.field_fondo[0].value|length > 0 %}
<figure class="intro_figure">
<img class="intro_img" width="980" height="495" alt="{{ node.field_fondo.0.alt }}" title="{{ node.field_fondo.0.title }}" /> 
{% if node.field_core_duracion[0].value|length > 0 %}
<span class="intro_circle"><span>Duración</span><br><span>{{ node.field_core_duracion.value }}</span></span>
{% endif %}
</figure>
{% endif %}

    </div>
</section>

{% endfor %}
{% endif %}

<script defer async>

let s = "{{ file_url(node.field_fondo.0.entity.fileuri) }}";
let i = document.getElementsByClassName("intro_img");
for (var k = 0; k < i.length;  k++) { i[k].setAttribute("src", s); }

</script>