{% if node.field_core_curso_inicio[0].value|length > 0 %}
<section class="uk-section bg_clr-lila page inicios">
<header class="tls_header uk-container alinear_izq alinear_cen">
<h3 class="tls_header-title"><span>Fechas</span><br><span class="stroke">de inicio</span>
</h3>
</header>
<div class="uk-container">
<ul class="solo_items uk-grid" uk-grid>
{% for inicio in node.field_core_curso_inicio %}
<li class="solo_item">
<article class="tarjeta">
<div class="tarjeta_top" uk-grid>
<div class="tarjeta_dia">
<span>{{ inicio.entity.field_px_dia.value }}</span>
<span>{{ inicio.entity.field_px_mes.value }}</span>
</div>
<div class="tarjeta_hora">
<span>{{ inicio.entity.field_px_hora.value }}</span>
</div>
</div>
<div class="tarjeta_bottom">
<p class="tarjeta_title">{{ inicio.entity.field_px_campus.entity.label }}</p>
<small class="tarjeta_subtitle">- Online -</small>
</div>
</article>
</li>
{% endfor %}
</ul>          
</div>
</section>
{% endif %}