{%
  set body_classes = [
    not root_path ? 'body--home' : 'body--' ~ root_path|clean_class,
    language ? 'body--lang-' ~ language|clean_class,
    not logged_in ? 'body--off' : 'body--in',
    not node_type ? 'body--type-off' : 'body--type-' ~ node_type|clean_class,
    term_id ? 'body--tx-' ~ term_id
  ]
%}
{%
  set body_classes_new = [  
    not root_path ? 'homepage' : 'b_' ~ root_path|clean_class,
    not node_type ? 'bt' : 'bt_' ~ node_type|clean_class,
    term_id ? 'btx_' ~ term_id
  ]
%} 

<!DOCTYPE html>
{% if ( 
  is_front or 
  (node.id in ['78']) or 
  ( node.getType in ['tls_core', 'article', 'nested_targets'] ) or 
  ( theme_hook_suggestions.0 in ['html__blogs', 'html__eventos', 'html__noticias', 'html__proyectos'] )
) %}

<html{{ html_attributes.addClass('home') }} >
<head> 

  <head-placeholder token="{{ placeholder_token|raw }}">
  {% include '@tls/system/elements_head/head_dns.html.twig' ignore missing %} 
  {% include '@tls/system/elements_head/head_fonts.html.twig' ignore missing %} 
  {% include '@tls/system/elements_head/head_styles_inline.html.twig' ignore missing %} 
  {% include '@tls/system/elements_head/head_preload_css.html.twig' ignore missing %} 
  {% include '@tls/system/elements_head/head_basico.html.twig' ignore missing %} 

</head> 
<body{{ attributes.addClass(body_classes).setAttribute('id', 'tls') }}>

  {% include '@tls/system/elements_body/body_basico.html.twig' ignore missing %} 
  {% include '@tls/system/elements_body/body_svg.html.twig' ignore missing %} 

  {{ attach_library('tls/load.css') }} 
  {{ attach_library('tls/uk') }} 
  {{ attach_library('tls/arkyweb') }}  

{% else %}

<html{{ html_attributes }}>
<head>

  {% include '@tls/system/elements_head/head_dns.html.twig' ignore missing %} 
  <head-placeholder token="{{ placeholder_token|raw }}"> 
  {% include '@tls/system/elements_head/head_fonts.html.twig' ignore missing %} 
  {% include '@tls/system/elements_head/head_styles_common.html.twig' ignore missing %}
  <link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/font/Gilroy-ExtraBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trocchi:400" media="all"> 
  {% include '@tls/system/elements_head/head_basico.html.twig' ignore missing %} 
  {% include '@tls/system/elements_head/head_scripts_load.html.twig' ignore missing %} 

</head>
<body{{ attributes.addClass(body_classes_new) }}>

  {% include '@tls/system/elements_body/body_loader.html.twig' ignore missing %}
  {% include '@tls/system/elements_body/body_svg.html.twig' ignore missing %} 
  {% include '@tls/system/elements_body/body_basico.html.twig' ignore missing %} 

  {{ attach_library('tls/load.css') }} 
  {{ attach_library('tls/class.2020') }}
  {% if (node.id == '205') %}
      {{ attach_library('tls/bee_empresas') }}
  {% endif %}

{% endif %} 

</body>
</html>