{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  <ul class="menu_nested">
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'item',
      item.is_expanded ? 'expanded',
      item.is_collapsed ? 'collapsed',
      item.in_active_trail ? 'active-trail',
    ] %}

    {%
        set link_classes = [
          'link', 
          item.is_expanded ? 'expanded',
        ]
      %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {{ link(item.title, item.url, item.attributes.addClass(link_classes)) }}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}