{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="menu menu--submenu">
    {% else %}
      <ul class="menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
      {%
        set link_classes = [
          'menu-link',
          item.is_expanded ? 'menu-link-expanded',
          item.in_active_trail ? 'menu-link-active',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {{ link(item.title, 
              item.url, 
              item.attributes
                .removeClass(classes)
                .addClass(link_classes)) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}