<style>
{% include '@tls/+inlines/i.css' ignore missing %}

{% if is_front %}
{% include '@tls/+inlines/i.home.css' ignore missing %}
{% endif %}

{% if (
    ( node.getType in ['tls_core', 'article', 'nested_targets'] ) or 
    ( node.id in ['78'] ) or 
    ( theme_hook_suggestions.0 in ['html__blogs', 'html__eventos', 'html__noticias', 'html__proyectos'] ) 
) %}
{% include '@tls/+inlines/i.interno.css' ignore missing %}
{% endif %}

{% if node.getType in ['tls_core', 'nested_targets'] %}
{% include '@tls/+inlines/i.core.css' ignore missing %}
{% endif %}

{% if node.getType in ['tls_core', 'nested_targets'] %}
{% include '@tls/+inlines/i.nested.css' ignore missing %}
{% endif %}

{% if ( 
    ( node.getType in ['article'] ) or 
    ( theme_hook_suggestions.0 in ['html__blogs', 'html__eventos', 'html__noticias', 'html__proyectos'] ) ) %}
{% include '@tls/+inlines/i.article.css' ignore missing %} 
{% endif %}
</style>