<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.css"></noscript>

{% if is_front %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.home.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.home.css"></noscript>
{% else %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.only.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.only.css"></noscript>
{% endif %}

{% if node.getType in ['tls_core', 'nested_targets'] %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.core.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.core.css"></noscript>
{% endif %}

{% if ( node.getType in ['article'] ) %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.article.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.article.css"></noscript>
{% endif %}

{% if ( theme_hook_suggestions.0 in ['html__blogs', 'html__eventos', 'html__noticias', 'html__proyectos'] ) %}
<link rel="preload" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.nested.css" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}themes/custom/tls/assets/css/arky/css.nested.css"></noscript>
{% endif %}