<section 
  {# ID del BLOCK #}
  {% if arky.entity.field_px_id[0].value|length > 0 %}
  id="{{ arky.entity.field_px_id.0.value }}"
  {% endif %}
  class="uk-section 
  {# COLOR del BLOCK #}
  {% if arky.entity.field_px_color.0.target_id == '8' %}
    arky-bg-violeta uk-light
  {% elseif arky.entity.field_px_color.0.target_id == '7' %}
    arky-bg-rosa uk-light
  {% elseif arky.entity.field_px_color.0.target_id == '37' %}
    arky-bg-celeste uk-light
  {% elseif arky.entity.field_px_color.0.target_id == '25' %}
    arky-bg-suave 
  {% endif %}
  " uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500;">