<ul>
{% for schedule in tls_bk.entity.field_px_schedule %}
    <li class="
    uk-width-1-1 uk-flex uk-flex-row uk-flex-wrap uk-flex-middle uk-padding-top uk-padding-bottom schedule-group 
    {% if schedule.entity.field_px_color.0.target_id == '7' %}
        schedule-color-rosa
    {% elseif schedule.entity.field_px_color.0.target_id == '8' %}
        schedule-color-violeta
    {% elseif schedule.entity.field_px_color.0.target_id == '37' %}
        schedule-color-celeste
    {% elseif schedule.entity.field_px_color.0.target_id == '25' %}
        schedule-color-gris
    {% elseif schedule.entity.field_px_color.0.target_id == '83' %}
        schedule-color-ambar
    {% endif %}
    ">
        <div class="schedule-box uk-text-center uk-border-rounded uk-padding-full">
            <span class="uk-text-lead uk-margin-remove">Dia</span> <span class="uk-heading-3 uk-margin-remove uk-lh-1">0{{ loop.index }}</span>
        </div>
        <ul class="schedule-list uk-width-expand uk-margin-large-left uk-column-1-2 uk-column-1-3--size-m">
            {% for schedule_list in schedule.entity.field_px_listado %}
                <li class="uk-h4 uk-margin-small-top uk-margin-small-bottom uk-padding-medium-left uk-position-relative">{{ schedule_list.value }}</li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>