<ul class="uk-grid-divider uk-child-width-expand--size-m uk-grid" uk-grid>
{% for help in tls_bk.entity.field_px_help %}
    <li class="simple uk-text-center uk-text-left--size-m">
        <p class="uk-h3 color-rosa uk-margin-small-bottom">{{ help.entity.field_px_titulo.value }}</p>
        <p class="uk-h5 color-violeta uk-margin-remove">{{ help.entity.field_px_parrafo.value }}</p>
        {% if help.entity.field_px_link[0].value|length > 0 %}
        <a 
        href="{{ help.entity.field_px_link.0.url }}" 
        class="uk-button uk-button-default uk-display-block-inline uk-border-pill uk-margin-top uk-border-naked">
            {% if help.entity.field_px_icono_fuente[0].value|length > 0 %}
            <span class="{{ help.entity.field_px_icono_fuente.0.getString() }}"></span>
            {% endif %}
            {{ help.entity.field_px_link.title }}
        </a>
        {% endif %}
        {% if help.entity.field_px_telefono[0].value|length > 0 %}
        <p class="uk-h5 uk-margin-small"><u>{{ help.entity.field_px_telefono.value }}</u></p>
        {% endif %}
        {% if help.entity.field_px_email[0].value|length > 0 %}
        <p class="uk-h5 uk-margin-small"><u>{{ help.entity.field_px_email.value }}</u></p>
        {% endif %}
    </li>
{% endfor %}
</ul>