<div class="uk-container">

    {% if tls_bk.entity.field_px_variacion.0.target_id == '73' %}

    <div class="uk-flex uk-flex-row uk-flex-wrap uk-grid-large">
        <div class="uk-width-2-5--size-m">
            <h2 class="arky-heading uk-heading-3">
                    <span class="uk-lh-1">{{ tls_bk.entity.field_px_tit_sup.value }}</span>
                    {% if tls_bk.entity.field_px_tit_inf[0].value|length > 0 %}
                    <br>
                    <span class="uk-lh-1 arky-line">{{ tls_bk.entity.field_px_tit_inf.value }}</span>
                    {% endif %}
            </h2>
        </div>
        <div class="uk-width-3-5--size-m">
            {% if tls_bk.entity.field_px_parrafo[0].value|length > 0 %}
                    <p>{{ tls_bk.entity.field_px_parrafo.value }}</p>
                {% endif %}
            {% if tls_bk.entity.field_px_ow_body[0].value|length > 0 %}
                <div class="arky--body">{{ tls_bk.entity.field_px_ow_body.value|raw }}</div>
            {% endif %}
        </div>

    </div>

    {% elseif tls_bk.entity.field_px_variacion.0.target_id == '74' %}

        <figure class="teaser-figure uk-margin-auto">
                    <img 
                        class="teaser-img uk-border-rounded"  
                        alt="{{ tls_bk.entity.field_px_foto.0.alt }}" 
                        title="{{ tls_bk.entity.field_px_foto.0.alt }}"  
                        data-src="{{ file_url(tls_bk.entity.field_px_foto.0.entity.fileuri | image_style('1100x500') ) }}"  
                        uk-img />
                </figure>

    {% else %}

    <div class="uk-flex-middle uk-flex uk-flex-row uk-flex-wrap 
    {% if node.id == '207' %}
        uk-grid-large
    {% else %}
        uk-grid-medium
    {% endif %}">
        {% if node.id == '207' %}
        <div class="uk-width-1-2--size-m">
        {% else %}
        <div class="uk-width-2-5--size-m">
        {% endif %}
            {% if tls_bk.entity.field_px_foto[0].value|length > 0 %}
                <figure class="teaser-figure uk-card-media-top uk-margin-auto {% if node.id == '207' %}uk-width-4-5{% endif %}">
                    <img 
                        class="teaser-img uk-border-rounded"  
                        alt="{{ tls_bk.entity.field_px_foto.0.alt }}" 
                        title="{{ tls_bk.entity.field_px_foto.0.alt }}"  
                        data-src="{{ file_url(tls_bk.entity.field_px_foto.0.entity.fileuri | image_style('372x372') ) }}"  
                        uk-img />
                </figure>
            {% endif %}
        </div>

        <article class=" 
        {% if node.id == '207' %}
            uk-width-1-2--size-m
        {% else %}
            uk-width-3-5--size-m
        {% endif %} 
        {% if tls_bk.entity.field_px_txt_left.value == '1'%}
            uk-flex-first--size-m
        {% endif %}">
            <div class="{% if node.id == '207' %}uk-width-4-5 uk-margin-auto{% else %}uk-card-body{% endif %}">
                {% if node.id == '207' %}
                    <p class="uk-heading-2 color-rosa uk-margin-remove">{{ tls_bk.entity.field_px_tit_sup.value }}</p>
                    <h3 class="uk-heading-6 color-violeta uk-margin">{{ tls_bk.entity.field_px_tit_inf.value }}</h3>
                {% else %}
                <h2 class="arky-heading uk-heading-3">
                    <span class="uk-lh-1">{{ tls_bk.entity.field_px_tit_sup.value }}</span>
                    {% if tls_bk.entity.field_px_tit_inf[0].value|length > 0 %}
                    <br>
                    <span class="uk-lh-1 arky-line">{{ tls_bk.entity.field_px_tit_inf.value }}</span>
                    {% endif %}
                </h2>
                {% endif %} 
                {% if tls_bk.entity.field_px_parrafo[0].value|length > 0 %}
                    <p>{{ tls_bk.entity.field_px_parrafo.value }}</p>
                {% endif %}
            </div>
        </article>

    </div>

    {% endif %}

</div>