
      <div class="uk-position-relative switch-logros" uk-scrollspy="cls: uk-animation-fade; target: .animate; delay: 250;">
        <ul class="switcher uk-subnav uk-subnav-pill uk-position-bottom-center" uk-switcher>
          {% for tabs in tls_bk.entity.field_px_entidad %}
          <li class="switcher--item-{{ loop.index }}">
            <a href="" class="switcher--link uk-border-circle" data-tooltip="{{ tabs.entity.label }}">
              <figure class="switcher--tip uk-border-circle uk-margin-remove">
                <img 
                class="switcher--img uk-border-circle"  
                alt="{{ tabs.entity.field_thumbnail.0.alt }}" 
                title="{{ tabs.entity.field_thumbnail.0.title }}" 
                data-src="{{ file_url(tabs.entity.field_thumbnail.0.entity.fileuri | image_style('125x125') ) }}" uk-img /> 
              </figure>
            </a>
          </li>
        {% endfor %} 
        </ul> 
        <ul class="switcher-child uk-switcher uk-marginm uk-text-center uk-text-left--size-m">
          {% for tab in tls_bk.entity.field_px_entidad %}
          <li class="switcher-child--item-{{ loop.index }}">
            <div class="uk-grid-medium uk-flex-middle animate" uk-grid>
              <figure class="uk-width-1-2--size-m uk-width-auto--size-l switcher-child--figure uk-flex-last--size-m">
                <img 
                  class="teaser-img"  
                  alt="{{ tab.entity.field_img.0.alt }}" 
                  title="{{ tab.entity.field_img.0.title }}" 
                  data-src="{{ file_url(tab.entity.field_img.0.entity.fileuri | image_style('572x572') ) }}" uk-img /> 
              </figure>
              <article class="uk-width-1-2--size-m uk-width-expand--size-l switcher-child--body">
                <h3 class="uk-h1 arky-serif uk-margin-small-bottom">{{ tab.entity.label }}</h3>
                <p class="uk-margin-small-bottom color-rosa uk-margin-top uk-margin-remove-bottom">{{ tab.entity.field_cargo.value }}</p>
                <p>{{ tab.entity.field_quotes.value }}</p>
              </article>
            </div>
          </li>
        {% endfor %} 
        </ul>
      </div>
 
{{ attach_library('tls/bee_logros') }}