<ul>
{% for simple in tls_bk.entity.field_px_simple %}
    <li class="uk-flex uk-flex-middle uk-flex-between uk-flex-row uk-flex-wrap {% if not loop.first %}uk-margin-medium-top{% endif %}">
        <div class="uk-width-1-1 uk-width-2-5--size-s uk-text-right--size-s uk-padding-left uk-padding-right">
            <p class="uk-heading-3 uk-margin-remove">{{ simple.entity.field_px_titulo.value }}</p>
        </div>
        <div class="uk-width-1-1 uk-width-3-5--size-s uk-padding-left uk-padding-right">
            <p class="uk-h3 uk-margin-remove">{{ simple.entity.field_px_parrafo.value }}</p>
        </div>
    </li>
{% endfor %}
</ul>