<div class="uk-container uk-scrollspy-inview uk-animation-fade" style="">
    <div class="uk-flex-middle uk-flex uk-flex-row uk-flex-wrap uk-grid-large">
        <div class="uk-width-1-2--size-m uk-visible--size-m">
            <figure class="teaser-figure uk-card-media-top uk-margin-auto uk-width-4-5">
                <img 
                class="teaser-img uk-border-rounded" alt="" title="" 
                data-src="{{ file_url(tls_bk.entity.field_px_img.entity.uri.value | image_style('372x372')) }}" uk-img />
            </figure>
        </div>

        <article class="uk-width-1-2--size-m {% if tls_bk.entity.field_px_txt_left.value == '1' %}uk-flex-first--size-m{% endif %}">
            <div class="uk-width-4-5 uk-margin-auto">
                <h3 class="arky-heading uk-heading-3">
                    <span class="uk-lh-1 ">{{ tls_bk.entity.field_px_tit_sup.value }}</span>
                    <br>                
                    <span class="uk-lh-1 arky-line">{{ tls_bk.entity.field_px_tit_inf.value }}</span>
                </h3>  
                <ul class="uk-subnav uk-subnav-pill tabs-2" uk-switcher>
                    {% for tabs_list in tls_bk.entity.field_px_tabs2 %}
                    <li><a href="#">{{ tabs_list.entity.field_px_titulo.value }}</a></li> 
                    {% endfor %}
                </ul>

                <ul class="uk-switcher uk-margin">
                    {% for tabs_text in tls_bk.entity.field_px_tabs2 %}
                    <li>{{ tabs_text.entity.field_px_ow_body.value|raw }}</li> 
                    {% endfor %}
                </ul> 
            </div>
        </article>

    </div>
</div>