{% if tls_bk.entity.field_px_img[0].value|length > 0 and tls_bk.entity.field_px_id_video[0].value|length > 0  %}
<figure class="uk-card uk-margin-medium-bottom uk-card-media-top uk-border-rounded uk-overflow-hidden uk-width-1-1 uk-width-2-3--size-s uk-margin-auto">
    <a class="video-play" href="#{{ tls_bk.entity.field_px_id_video.value }}" uk-toggle>
        <img 
        class="teaser-img uk-margin-auto"  
        alt="{{ tls_bk.entity.field_px_img.0.alt }}" 
        title="{{ tls_bk.entity.field_px_img.0.title }}" 
        data-src="{{ file_url(tls_bk.entity.field_px_img.0.entity.fileuri | image_style('800x500') ) }}" uk-img /> 
    </a>
</figure>
<article class="uk-width-1-1 uk-width-2-3--size-s uk-margin-auto block-play block-play-center">
    {% if tls_bk.entity.field_px_parrafo[0].value|length > 0 %}
    <p class="arky-serif uk-h3 uk-margin-remove-top uk-margin-bottom">{{ tls_bk.entity.field_px_parrafo.value }}</p>
    {% endif %}
    {% if tls_bk.entity.field_px_titulo[0].value|length > 0 %}
    <p class="uk-h2 uk-margin-top uk-margin-bottom">{{ tls_bk.entity.field_px_titulo.value }}</p>
    {% endif %}
    {% if tls_bk.entity.field_px_subtitular[0].value|length > 0 %}
    <p class="uk-h4 uk-margin-top uk-margin-bottom">{{ tls_bk.entity.field_px_subtitular.value }}</p>
    {% endif %} 
</article>
{% endif %} 

{% if tls_bk.entity.field_px_id_video[0].value|length > 0 %}
<div id="{{ tls_bk.entity.field_px_id_video.value }}" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical arky-bg-transparent">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <iframe class="uk-responsive-width uk-border-rounded" src="https://www.youtube-nocookie.com/embed/{{ tls_bk.entity.field_px_embed.value }}?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" width="1920" height="1080" frameborder="0" allowfullscreen uk-responsive uk-video="automute: false;"></iframe> 
    </div>
</div>
{% endif %} 