<nav{{ attributes.addClass('menu_top').setAttribute('id', 'menu_top').setAttribute('uk-scrollspy', 'cls: uk-animation-fade; target: .uk-card; delay: 500') }}>
<ul class="top_items">
  {% if content %}
    {{- content -}}
  {% endif %}
</ul>
</nav> 