@media (max-width: 899px) {

.empresas > div:nth-child(3) { min-height: 350px; }
.empresas > div:nth-child(3) .imagen { max-width: 50%; }

}

@media (max-width: 599px) {

.empresas > div:nth-child(3) { min-height: 300px; }
.empresas > div:nth-child(3) .imagen { max-width: 66%; }

.empresas > div:nth-child(1),
.empresas > div:nth-child(4) {
    height: auto;
}
.empresas > div:nth-child(1) .uk-container,
.empresas > div:nth-child(4) .uk-container {
    height: auto;
    padding-top: 3rem;
}
.empresas > div:nth-child(4) .uk-container {
    padding-bottom: 3rem;
}
.empresas > div:nth-child(1) .texto {
    margin: auto; 
    width: 100%;
    text-align: center;
}
.empresas > div:nth-child(1) .imagen {
    max-width: 100%;
    padding-top: 2rem;
    position: relative !important;
    width: 60%;
    margin: auto;
}
.empresas > div:nth-child(4) .texto {
    width: 100%;
    text-align: center !important;
}
.empresas > div:nth-child(4) .texto:last-child {
    order: -1;
}
.empresas > div:nth-child(4) .texto > * {
    padding: 0!important;
}
.empresas > div:nth-child(4) .texto > .uk-h3 {
    margin-top: 2rem!important;
}

}