@font-face{font-family:Gilroy;src:url(../font/Gilroy-SemiBold.woff2) format('woff2'),url(../font/Gilroy-SemiBold.woff) format('woff');font-weight:400;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
@font-face{font-family:Gilroy;src:url(../font/Gilroy-Heavy.woff2) format('woff2');font-weight:900;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
@font-face{font-family:Gilroy;src:url(../font/Gilroy-ExtraBold.woff2) format('woff2');font-weight:700;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
@font-face{font-family:BeeTLS;src:url(../font/Feather.woff?sdxovp) format('woff');font-weight:400;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
.wf-active [class*=" feather-"],.wf-active [class^=feather-]{font-family:BeeTLS!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-display:swap;}
:root{--tls-xxx:1rem;--tls-xx:.5rem;--tls-x:25rem;--tls-lila:#440099;--tls-violeta:#2B1457;--tls-rosa:#ef426f;--tls-ambar:#F1C400;--tls-vino:#AB2961;--tls-lila-soft:#F4F1F9;--tls-suave:#f4f7fb;--tls-fino:#E4E1EA;--tls-linea:#e9e6ee;--tls-celeste:#00a9e0;--tls-time:.25s;--tls-margin-width:140px;--tls-header-height:62px;--tls-error:#9f1717;--tls-success:#179f3f;}
img[data-src][src*='data:image']{background:rgba(0,0,0,0.1);}
u{text-decoration:underline;text-decoration-color:var(--tls-lila);}
.aw-border{border:1px solid;}
.aw-border-top{border-top:1px solid;}
.aw-border-bottom{border-bottom:1px solid;}
.aw-border-left{border-left:1px solid;}
.aw-border-right{border-right:1px solid;}
.arky-bg-blanco{background-color:white;}
.arky-bg-rosa{background-color:var(--tls-rosa);}
.arky-bg-violeta{background-color:var(--tls-lila);}
.arky-bg-gris,
.arky-bg-suave{background-color:var(--tls-suave);}
.arky-bg-celeste{background-color:var(--tls-celeste);}
.arky-bg-transparent{background-color:transparent!important;}
.arky-bg-ambar{background-color:var(--tls-ambar);}
.color-rosa{color:var(--tls-rosa)!important;}
.color-violeta{color:var(--tls-violeta);}
.color-celeste{color:var(--tls-celeste);}
.color-lila{color:var(--tls-lila);}
.color-celeste{color:var(--tls-celeste);}
.color--facebook{color:#440099}
.color--twitter{color:#00A9E0}
.color--instagram{color:#F1C400}
.color--tube{color:#EF426F}
.color-blanco{color:white!important;}
.uk-light .color-rosa{color:white!important}
.feather-arrow-right,
.uk-light .uk-border-naked:hover .feather-arrow-right{color:var(--tls-rosa);}
.uk-light .uk-border-naked .feather-arrow-right{color:white;}
.arky-heading{line-height:1;}
.arky-line{-webkit-text-stroke:1px var(--tls-lila);color:transparent;}
.uk-light .arky-line{-webkit-text-stroke-color:white;}
.form-down .hipericon-item--5,
.form-externo .hipericon-item--4{display:none;}
body{color:var(--tls-lila);}
.wf-active body{font-family:Gilroy;}
.wf-active .arky-serif{font-family:Trocchi, serif;}
.uk-h1, .uk-h2, uk-h3, .uk-h4, .uk-h5, .uk-h6{font-weight:400;}
.uk-heading-3, .uk-heading-4, .uk-heading-5, .uk-heading-6{font-weight:700;}
.uk-h7{font-size:10px;font-weight:700;}
.uk-heading-1, .uk-heading-2{font-weight:900;}
@media (min-width:900px){.uk-h7{font-size:12px}
}
[class*='uk-light'][class*='aw-border']
[class*='uk-light'] [class*='aw-border']{border-color:white;}
.uk-link-toggle svg{stroke-width:2px;width:30px;}
.header{background-color:white;position:fixed;border:1px solid var(--tls-linea);height:var(--tls-header-height);width:100%;top:0;left:0;z-index:10;}
.page{position:relative;z-index:1;}
.tls--modal{margin-top:var(--tls-header-height);}
.page--logo{height:var(--tls-header-height);}
.logo--img-movil{width:auto;height:var(--tls-header-height);padding:1.05rem .75rem;}
.logo--img-desktop{display:none;width:100%;height:auto;}
.page--menu{border-left:1px solid #ccc!important;width:54px;font-size:24px!important;text-decoration:none;height:var(--tls-header-height);position:absolute!important;top:0;right:0;}
.header--fixed{height:var(--tls-header-height);width:auto;position:absolute;top:0;right:54px;}
.page--down{position:fixed;bottom:1rem;left:1rem;height:var(--tls-header-height);font-size:36px;width:calc(1*var(--tls-header-height));opacity:1;transition:var(--tls-time) opacity;}
.headpage-class .page--down{opacity:0;}
@media (max-width:899px){.page--down{opacity:0;}
}
.page--menu span{transition:var(--tls-time) opacity;}
.page--menu span:last-child{opacity:0;}
.uk-modal-page .page--menu span:first-child{opacity:0;}
.uk-modal-page .page--menu span:last-child{opacity:1;}
@media(min-width:900px) and (min-height:600px){.header{width:var(--tls-margin-width)!important;height:100vh;}
.uk-sticky-placeholder{display:none;}
.page{margin-left:var(--tls-margin-width);}
.logo--img-movil{display:none;}
.logo--img-desktop{display:block;}
.tls--modal{margin-left:var(--tls-margin-width);margin-top:0;}
.page--logo,
.page--menu,
.page--down{margin:auto!important;left:0;right:0;position:absolute!important;}
.page--logo,
.page--menu{width:calc(var(--tls-margin-width) - 2rem);height:calc(var(--tls-margin-width) - 2rem);}
.page--logo{top:1rem;}
.page--menu{bottom:0;border-left:0;}
.header--fixed{position:fixed;top:0;right:2rem;top:2rem;}
.page--menu{border:0!important;}
.page--menu svg{width:36px;}
.page--menu [uk-icon='close'] path{stroke-width:3px;}
}
.page--menu [uk-icon='close'],
.uk-modal-page .page--menu [uk-icon='menu']{display:none;}
.uk-modal-page .page--menu [uk-icon='close']{display:inline-block;}
@media (max-width:899px){.footer--campus-tits::after{content:'-';position:absolute;right:0;margin:auto;top:0;bottom:0;}
.footer--campus-contents[aria-hidden="true"] + .footer--campus-tits::after{content:'+';}
}
@media (min-width:900px){.footer--campus-contents{display:block !important;opacity:1 !important;}
}
.uk-slideshow-items{min-height:calc(100vh - var(--tls-header-height))!important;}
.carousel--banner-tits span:first-child{display:block;}
@media (max-width:899px){.carousel--container{padding-bottom:10vh;}
[class*='uk-slideshow-item-']{align-items:flex-end;}
}
@media (min-width:900px){.uk-slideshow-items{min-height:90vh!important;}
}
@media (min-width:900px){.block--header-left .block--header{text-align:left!important;}
.block--header-left .block--header-button{position:absolute;top:50%;transform:translateY(-50%);right:0;}
}
.block--header-button{font-size:16px;font-weight:700;}
.button-arrow{padding-right:2.5rem!important;position:relative;}
.button-arrow-left{padding-right:1rem!important;padding-left:2.5rem!important;}
.button-arrow span{right:14px;}
.button-arrow-left span{right:auto;left:14px;}
.button-arrow svg{width:21px;stroke-width:2px;}
.modal--principal-menu{z-index:2;}
.modal--principal-back{z-index:1;}
.menu--principal-a{background-color:transparent!important;padding:.75rem !important;position:relative;font-size:1.25em;}
.menu--principal-a::after{content:'+';margin-left:.5rem;}
.uk-active .menu--principal-a::after{content:'-'}
.menu--hijo-li{display:block!important;position:absolute;top:0;left:0;transform:translateX(-100%);width:100%;transition:calc(2*var(--tls-time)) transform;}
.menu--hijo-li.uk-active{transform:translateX(0);}
@media (min-width:900px){.menu--principal-a{padding:.5rem !important;}
}
@media (max-width:899px){.menu--principal-li{border-bottom:1px solid rgba(255,255,255,.8);}
.menu--hijo{display:none;}
}
.card--mundo{border:1px solid rgba(20, 0, 73, 0.1);background-color:white;padding-right:2.5rem;transition:var(--tls-time) border-color, var(--tls-time) color, var(--tls-time) background-color;}
.card--mundo:hover,
.card--mundo:active{background-color:var(--tls-lila);color:white;border-color:var(--tls-lila);}
.mundos--tabs{background-color:transparent;padding:.75rem 1rem!important;border-left:5px solid transparent;border-radius:.5rem 0 0 .5rem;color:var(--tls-lila);font-size:16px;margin-bottom:.75rem;transition:var(--tls-time) border-color, var(--tls-time) color, var(--tls-time) background-color;}
.uk-active .mundos--tabs{border-color:var(--tls-violeta);color:var(--tls-violeta);background-color:white;}
.card--mundo .uk-position-center-right{right:1rem;}
.cards--mundo:nth-child(2n){position:relative;top:1rem;}
.card--mundo .color-dis,
.card--mundo:hover .color-violeta{fill:#f1c400 !important;}
.card--mundo:hover .color-dis{fill:white !important;}
.cards--mundo svg{max-width:4rem;}
@media (max-width:599px){.card--mundo .uk-grid-small >:not(span){width:100%;}
}
@media (max-width:899px){.footer--campus-contents{margin-top:1rem;}
.footer--campus-contents [class*='uk-child'] > *{padding-left:0;}
.footer--campus-contents [class*="uk-child"] > * span.uk-icon{position:absolute;right:0;top:0;bottom:0;width:auto;height:30px;}
.campus--tits br{display:none;}
}
.uk-icon svg > *{stroke-width:2px;}
.icon-open,
.uk-open .icon-off{display:none;}
.uk-open .icon-open{display:inline-block;}
.card-ec{border:1px solid white;}
.card-ec img{margin-top:-3rem;}
.section-views{overflow:hidden;}
.swiper-container-centered{position:relative;}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction{bottom:-1rem;}
.swiper-slide{opacity:.5;transition:var(--tls-time) opacity;}
.swiper-slide-active{opacity:1}
.swiper-button-next, .swiper-button-prev{color:var(--tls-violeta);width:3rem;height:3rem;background-color:white;border-radius:50%;}
.swiper-button-next::after, .swiper-button-prev::after{-webkit-text-stroke:2px var(--tls-violeta);font-size:18px;}
.swiper-pagination-bullet{width:10px;height:10px;background-color:var(--tls-rosa);}
.swiper-pagination-bullet-active{background-color:var(--tls-rosa);}
.is--cursos .swiper-pagination-bullet-active{background-color:var(--tls-celeste);}
.uk-light .swiper-pagination-bullet{background-color:white;}
.uk-light .swiper-pagination-bullet-active{background-color:white;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{left:-1rem;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{right:-1rem;}
.swiper-button-next,
.swiper-button-prev{display:none;}
@media (min-width:900px){.swiper-button-next,
.swiper-button-prev{display:inline-flex;}
.slider--quotes [class*='swiper-button-'],
.swiper-pagination{display:none;}
.swiper-container-centered{margin-bottom:0;}
}
[class*='cards--'] img{width:100%;}
@media (min-width:480px){[class*='swiper'] .cards--eventos{padding-left:3.5rem;padding-right:3.5rem;}
}
@media (min-width:600px){[class*='swiper'] .cards--news,
[class*='swiper'] .cards--eventos{padding-left:5rem;padding-right:5rem;}
.cards--news .teaser-body{order:-1;}
}
@media (min-width:900px){[class*='swiper'] .cards--eventos{padding-left:7rem;padding-right:7rem;}
}
.slider--quotes footer{margin-top:0 !important;padding-left:0;padding-right:0;background-color:white;min-width:100%;max-width:100%;padding-bottom:3rem;padding-top:5rem;}
.slider--quotes .swiper-container-horizontal > .swiper-pagination-bullets,
.slider--quotes .swiper-pagination-custom, .swiper-pagination-fraction{bottom:-3rem;}
.quotes-img{max-width:60vw;width:100%;}
.quotes--header{background-color:white;}
.quotes--body p{margin-bottom:0;}
.quotes--body{background-color:white;min-height:150px;padding-top:2rem;border-top:2px solid #ece5f4;}
.quotes--body p,
.quotes--header > *{opacity:0;transition:var(--tls-time) opacity;}
.swiper-slide-active .quotes--body p,
.swiper-slide-active .quotes--header > *{opacity:1;}
.slider--quotes .swiper-slide{margin-right:0!important;opacity:1;}
.slider--quotes .swiper-slide figure{opacity:.5;}
.slider--quotes .swiper-slide-active figure{opacity:1;}
.quotes-figure{transition:var(--tls-time) left, var(--tls-time) right;left:0;right:0;}
.swiper-slide-prev .quotes-figure{right:-20vw;left:auto;}
.swiper-slide-next .quotes-figure{left:-20vw;right:auto;}
@media (min-width:600px){.swiper-slide-prev .quotes-figure{right:-30vw;left:auto;}
.swiper-slide-next .quotes-figure{left:-30vw;right:auto;}
.quotes-img{max-width:372px;}
}
@media (min-width:900px){.slider--quotes .uk-container:last-child{padding-top:1rem;}
.swiper-slide-prev .quotes-figure{right:-40vw;left:auto;}
.swiper-slide-next .quotes-figure{left:-40vw;right:auto;}
.quotes--header{background-color:transparent;position:absolute;top:5%;left:60%;font-size:15px;}
}
.description{font-size:12px;}
.uk-button{position:relative; padding: .5rem 1rem; display: inline-block;}
.uk-light .uk-button[class*='naked']:hover{background-color:white;}
.uk-light[class*='rosa'] .uk-button[class*='naked']:hover{color:var(--tls-rosa);}
.uk-light[class*='violeta'] .uk-button[class*='naked']:hover{color:var(--tls-lila);}
.uk-light[class*='celeste'] .uk-button[class*='naked']:hover{color:var(--tls-celeste);}
.uk-border-naked{border:2px solid var(--tls-lila);color:var(--tls-lila);transition:var(--tls-time) background-color, var(--tls-time) color;}
.uk-border-naked:hover,
.uk-border-naked:active{background-color:var(--tls-lila);color:white;}
.arky--body li,
.acordeon--cuerpo li{position:relative;padding-left:1rem;padding-right:1rem;}
.arky--body li::before,
.acordeon--cuerpo li::before{content:'';width:10px;height:10px;border:2px solid var(--tls-rosa);display:inline-block;border-radius:50%;position:absolute;top:10px;left:-4px;}
.arky-bg-rosa .arky--body li::before{border-color:var(--color-violeta);}
.is--cursos .acordeon--cuerpo li::before{border-color:var(--color-celeste)}
.arky-delete-margen-arriba.uk-section{padding-top:0;}
.arky-delete-margen-abajo.uk-section{padding-bottom:0;}
.teaser-img{width:100%;}
.uk-light .color-violeta{color:white}
.arky-bordeado{border:2px solid var(--tls-fino);height:100%;}
@media (max-width:599px){.uk-card[class*="uk-padding-"]{padding-left:0 !important;padding-right:0 !important;}
.arky-border-top .uk-container::before{top:-35px;}
}
.menu--fixed [class*="hipericon-item"]{min-width:54px;line-height:60px;padding-left:0;text-align:center;}
.menu--fixed .hipericon-link-1 .hipericon--title{display:none;}
@media (min-width:900px){.menu--fixed .hipericon-link-1{padding-left:1.5rem;padding-right:1.5rem;}
.menu--fixed .hipericon-link-1 .hipericon--title{display:inline-block;width:210px;position:relative;top:-.05rem;color:#999;overflow:hidden;height:20px;line-height:1;transition:var(--tls-time) width;}
.headpage-class .menu--fixed .hipericon-link-1 .hipericon--title{width:0;}
}
@media (max-width:599px){.menu--fixed .hipericon-item--3{display:none;}
}
@media (min-width:900px) and (min-height:600px){.menu--fixed .hipericon-link-1{border-radius:2rem 0 0 2rem;}
.menu--fixed .hipericon-link-4,
.menu--fixed .hipericon-link-5{border-radius:0 2rem 2rem 0;}
.menu--fixed [class*="hipericon-item"]{min-width:70px;}
}
.menu--fixed [class*="hipericon-link"]{border-left:1px solid var(--tls-linea)!important;line-height:50px;padding-top:11px;background-color:white;}
.footer .uk-iconnav{justify-content:center;}
.footer [class*="hipericon-item"]{margin-left:.5rem;margin-right:.5rem;}
@media (min-width:900px){.footer .uk-iconnav{justify-content:flex-start;}
.footer [class*="hipericon-item"]{margin-left:0;margin-right:1rem;}
}
.uk-animation-toggle{display:inline-flex;}
[data-tooltip]{position:relative;}
[data-tooltip]::before{transform:translateX(-50%) scale(0);content:attr(data-tooltip);position:absolute;line-height:1;left:50%;margin:auto;bottom:-2.25rem;background-color:white;font-size:13px;text-align:center;padding:.5rem .75rem;border-radius:2rem;display:inline-table;transform-origin:center;transition:var(--tls-time) transform, var(--tls-time) opacity;opacity:0;color:var(--tls-lila);min-width:100px;}
[data-tooltip]::after{content:'';width:1rem;height:1rem;background-color:white;display:block;position:absolute;left:0;right:0;bottom:-1.125rem;position:absolute;margin:auto;border-radius:.25rem;transform:scale(0) rotate(0deg);z-index:-1;transform-origin:center;transition:var(--tls-time) transform, calc(2*var(--tls-time)) opacity;opacity:0;}
[data-tooltip]:hover::before{transform:translateX(-50%) scale(1);opacity:1;}
[data-tooltip]:hover::after{transform:scale(1) rotate(45deg);opacity:1;}
.tls--banner{min-height:450px}
.tls--banner-button{top:1.5rem;left:1rem;}
.tls--banner-button:hover{color:var(--tls-violeta)!important;}
@media (min-width:900px){.tls--banner{min-height:600px}
}
@media (min-width:1400px){.tls--banner-button{top:2.5rem;left:calc(50% - 555px);}
}
.tls--page-top figure{overflow:visible;}
.tls--page-top .uk-card-badge{width:90px;height:90px;padding-top:1.75rem;bottom:auto;top:1rem;right:1rem;z-index:2;}
.tls--page-top .uk-card-badge span{display:block;}
@media (min-width:900px){.tls--page-top .uk-card-badge{padding-top:2rem;width:120px;height:120px;}
}
.header-calendar{width:100%;background-color:var(--tls-suave);height:84px;border-top:5px solid var(--tls-lila);border-radius:1rem;text-align:center;padding:0;}
@media (min-width:900px){.header-calendar{width:120px;height:120px;}
}
.summary{border-left:8px solid var(--tls-rosa);padding-left:1.5rem;border-radius:.5rem;}
.uk-button-opacity{background-color:rgba(0,0,0,.125);padding-top:1rem;padding-bottom:1.125rem;}
.uk-button-opacity:hover,
.uk-button-opacity:focus{background-color:rgba(0,0,0,.5);}
.border-dashed{border:1px dashed white;}
.logro--titulo{padding:1rem 2rem;}
.logro--icono{background-color:rgba(255,255,255,.2);background-image:url(../imgs/premio.png);background-position:center;background-repeat:no-repeat;width:116px;height:116px;}
.uk-card.card--inicios > div{background-color:rgba(255,255,255,.1);border:5px solid rgba(255,255,255,.4);}
.uk-card.card--inicios > div > article:last-child{border-top:2px solid rgba(255,255,255,.2);}
.card--inicios-fecha{width:120px;}
@media (max-width:599px){.uk-card.card--inicios > div{padding:.5rem!important;}
.card--inicios-fecha{width:80px;}
}
.card--docentes figure{border:.5rem solid rgba(255,255,255,.2);padding:.5rem;}
@media (max-width:899px){.is--cursos .uk-tab{justify-content:center;}
.is--cursos .uk-tab a span{display:none;}
}
@media (min-width:900px){.is--cursos .uk-tab-left::before{content:none;}
.uk-tab >:not(:first-child){border-top:1px solid rgba(255,255,255,.25);}
.is--cursos .uk-tab > * > a{padding-top:1rem;padding-bottom:1rem;border-right:0;}
.is--cursos .uk-tab > * > a span{font-size:40px;opacity:0;transition:var(--tls-time) opacity;}
.is--cursos .uk-tab > .uk-active > a span{opacity:1;}
}
@media (max-width:599px){.max-height-figure img{max-height:250px;}
}
.drop-menu{margin-top:0;top:0 !important;left:auto !important;right:0 !important;width:0;height:100vh;overflow:hidden;transform:translatex(100%);transition:var(--tls-time) transform;display:block!important;height:100%;}
.uk-open.drop-menu{transform:translatex(0);width:100%;}
.drop-menu > div{height:100%;}
.uk-drop-close svg{display:none;}
@media(min-width:900px){.drop-menu{right:-100% !important;}
}
.menu--small li a{position:relative;display:inline-block;}
.menu--principal{margin:0;padding:0;}
.menu--principal-link{border-bottom:1px solid rgba(255,255,255,.2);position:relative;padding:1rem 1.5rem!important;transition:var(--tls-time) background-color;margin-top:.25rem;margin-bottom:.25rem;}
.menu--principal-link.uk-open{background-color:var(--tls-rosa);}
.menu--principal-link::after{content:'\e9b1';font-family:'BeeTLS' !important;position:absolute !important;max-width:100%;top:50%;transform:translateY(-50%);color:var(--tls-rosa);font-size:14px;right:1rem;transition:var(--tls-time) color;}
.menu--principal-link.uk-open::after{content:'\e996';color:white;}
.menu--principal-item:nth-child(3) nav .uk-column-1-2--size-s{column-count:1;}
.menu--small .menu-item--expanded > a::after{content:'\e9b1';font-family:'BeeTLS' !important;color:var(--tls-rosa);margin-left:.5rem;}
.menu--small .menu-item--expanded > a.uk-open::after{content:'\e996';}
.menu--submenu ul{position:relative;padding-left:1.5rem!important;}
.menu--submenu ul::before{content:'';width:5px;height:100%;background-color:var(--tls-rosa);position:absolute;border-radius:1rem;left:0;}
.menu--small li a{transition:var(--tls-time) opacity;}
.menu--small li a:hover{opacity:.5}
.tls--modal .menu--rrss{padding:1rem;}
.tls--modal .menu--rrss li{margin-right:1rem;}
.tls--modal .menu--rrss li a{width:3rem;height:3rem;background-color:rgba(39, 0, 109, 0.5);border-radius:50%;}
.tls--modal .menu--rrss li a:hover{background-color:white;color:var(--tls-violeta);}
.tls--modal .menu--rrss li a::before,
.tls--modal .menu--rrss li a::after{content:none;}
.tls--modal .menu--rrss li svg{width:22px;position:absolute;top:50%;transform:translate3d(-50%, -50%, 0);left:50%;}
@media (max-width:899px){.tls--modal .uk-iconnav{justify-content:center;}
.tls--modal .menu--rrss li{margin-right:.5rem;margin-left:.5rem;}
}
.tabla-container{font-size:12px;line-height:1;}
#inscripcion_menu li a{color:var(--tls-lila);}
#inscripcion_menu li a:hover{color:white;opacity:1;}
#inscripcion_menu svg{max-width:18px;}
.body--node-45 main{display:flex;flex-flow:column wrap;}
.wasap{width:60px;height:60px;position:fixed;z-index:11;bottom:.6rem;right:.5rem;}
.chattigo-widget-trigger {
    bottom: 40px !important;
    right: 125px !important;
  }
  .chattigo-widget-trigger--complete {
    box-shadow: 0 0 15px rgba(80, 80, 80, .5);
    width: 60px !important;
    height: 60px !important;
  }
  .chattigo-widget-trigger--complete .chattigo-widget-trigger__logo {
    max-height: 70px !important;
    right: -4px !important;
    top: -6px !important;
  }

.sprite-wasap{border-radius:50%;animation:wasap 1s infinite;}
@media (max-width:480px){
  .chattigo-widget-trigger {
    bottom: 10px !important;
    right: 75px !important;
  }
}
@media (min-width:900px){.wasap{bottom:2.5rem;right:3rem;}
}
@keyframes wasap{0%{box-shadow:0 0 0 0px rgba(0,0,0,0.2);}100%{box-shadow:0 0 0 35px rgba(0,0,0,0);}}
@media (max-width:899px){.header-calendar{margin-left:1rem;}
}
@media (max-width:599px){.body--node-68 [class*="child-"],
.body--node-69 [class*="child-"],
.body--node-70 [class*="child-"],
.body--node-71 [class*="child-"],
.is--cursos [class*="child-"]
.mundos-child{padding-left:1rem;}
.body--node-68 .uk-card figure,
.body--node-68 .uk-card img,
.body--node-69 .uk-card figure,
.body--node-69 .uk-card img,
.body--node-70 .uk-card figure,
.body--node-70 .uk-card img,
.body--node-71 .uk-card figure,
.body--node-71 .uk-card img,
.mundos-child figure,
.mundos-child img,
.is--cursos .uk-card figure,
.is--cursos .uk-card img{max-height:300px;border-radius:1rem;}
}
.uk-search-input{background-color:white !important;color:var(--tls-lila) !important;height:50px !important;}
.uk-search-input::placeholder{color:var(--tls-violeta)!important;}
.uk-search span.uk-icon{color:var(--tls-rosa)!important;}
form .form-submit[class*="search"]{background-color:var(--tls-lila);width:auto;height:44px;top:3px;right:3px;padding:0 1rem;cursor:pointer;color:white;font-family:inherit;}
.uk-modal .uk-modal-close{max-height:30px;top:1rem;right:1rem;}
.uk-modal .uk-modal-close [class*="feather"]{background-color:white;width:30px;height:30px;display:inline-block;color:var(--tls-lila) !important;line-height:30px;text-align:center;border-radius:50%;margin-left:.5rem;}
.enlace-list{padding:0;margin:0;}
[class*='enlace-link-']{display:block;padding-right:1.5rem;padding-top:.5rem;padding-bottom:.5rem;border-bottom:1px solid rgba(255,255,255,.2);}
.bee-action figure img{transition:calc(4*var(--tls-time)) transform;}
.bee-action:hover figure img{transform:scale(1.5) rotate(15deg);}
.teaser-figure .color-rosa{width:18px;}
#edit-submit-buscador{color:white}
#block-tls-footer li a{margin-bottom:.5rem;display:inline-block;border-bottom:2px solid transparent;transition:var(--tls-time) border-bottom;}
#block-tls-footer li a:hover{border-bottom:2px solid var(--tls-lila);}
.loco > *{position:relative;}
@media (min-width:1200px){.loco-4 > *:nth-child(4n+2){top:1rem;}
.loco-4 > *:nth-child(4n+3){top:2rem}
.loco-4 > *:nth-child(4n+4){top:-1rem;}
.loco-3 > *:nth-child(3n+3){top:-1rem;}
.loco-3 > *:nth-child(3n+2){bottom:-1rem;}
.loco-2 >:nth-child(2n){top:1.5rem;}
}
@media (max-width:599px){.loco{margin-left:0!important;}
.loco-4 > a:nth-child(4n+1), .loco-4 > a:nth-child(4n+3){padding-right:.5rem !important;}
}
.barra{margin-left:.25rem;}
[class*="barra-paso-"] small{color:#FBD7E1!important;}
[class*="barra-paso-"] small p{background-color:#FBD7E1;color:white;display:inline-block;border-radius:50%;min-width:22px;font-size:13px;margin-right:.25rem;margin-bottom:0;}
.barra-activo small,
.barra-listo small{color:var(--tls-rosa)!important;}
.barra-activo small p,
.barra-listo small p{background-color:var(--tls-rosa);}
[class*="barra-paso-"] span{width:100%;height:.5rem;background-color:#FBD7E1;display:block;margin-top:.25rem;position:relative;overflow:hidden;}
[class*="barra-paso-"] span:before{content:'';height:100%;background-color:var(--tls-rosa);position:absolute;left:0;}
.barra-paso-1 span{border-radius:1rem 0 0 1rem;}
.barra-paso-2 span{border-radius:0 1rem 1rem 0;}
.barra-activo span::before{width:10%;}
.barra-listo span::before{width:100%;}
.color-rosa.uk-button-text::before{border-color:var(--tls-rosa);}
.quotes--body{position:relative;}
.quotes--body::before{background-image:url(../imgs/iconos/quote.png);background-repeat:no-repeat;background-position:center;background-blend-mode:darken;content:'';position:absolute;top:2rem;left:0;right:0;width:80px;height:55px;opacity:.25;margin:auto;}
.tls-border::before{content:'';background-image:repeating-linear-gradient(-50deg,var(--tls-lila),var(--tls-lila) 2px,transparent 2px,transparent 10px);width:300px;height:300px;border-radius:50%;display:block;position:absolute;left:-150px;}
.tls-border.tls-border-right::before{left:auto;right:-150px;}
.uk-light.tls-border::before{background-image:repeating-linear-gradient(-50deg,white ,white 2px,transparent 2px,transparent 10px);}
.tls--modal .menu--rrss li.hipericon-item--1 path{fill:white;}
.tls--modal .menu--rrss li.hipericon-item--1 a:hover path{fill:var(--tls-lila);}
.switcher{bottom:3rem!important;margin-left:0!important;z-index:2;}
.switcher--link{background-color:transparent !important;border:2px dashed transparent;padding:4px !important;width:76px;transform:scale(.75);transition:var(--tls-time) border-color, var(--tls-time) transform;}
[class*='switcher--item-']{padding-left:0!important}
.uk-active .switcher--link{border-color:white;transform:scale(1);}
.switcher--img{border:5px solid var(--tls-vino);transition:var(--tls-time) border-color;}
.uk-active .switcher--img{border-color:white;}
.switcher-child--figure{overflow:visible;}
@media (max-width:899px){.switcher-container{padding-bottom:12rem;}
.switcher-child--figure{max-width:262px;margin:auto!important;}
}
@media (min-width:900px){.switcher{left:calc(75%)!important;bottom:auto!important;width:50%!important;display:flex;justify-content:space-between;}
.switcher-child{padding-bottom:0;}
.switcher-child--figure img{width:572px;}
}
@media (min-width:1200px){.switcher{width:35%!important;left:calc(48px + 604px - 5vw)!important;transform:none!important;}
.logros-interno .switcher { left: 0!important; }
.switcher-child--body{padding-right:5rem;margin-left:2vw;}
.switcher-child--figure{margin-left:-7vw;}
}
@media (min-width:900px) and (max-width:1199px){.switcher-child--body{padding-top:8rem;}
}
.switcher-child--figure::before{content:'';background:repeating-linear-gradient(-50deg,rgba(255,255,255,.4),rgba(255,255,255,.4) 2px,transparent 2px,transparent 10px);width:120px;height:120px;position:absolute;border-radius:50%;bottom:2rem;left:-3rem;}
@media (min-width:900px){.switcher-child--figure::before{width:370px;height:370px;left:-185px;}
}
.search-area-ad > section { display: none; }
.body--authenticated #block-tls-main-menu { position: static!important; }
/* FEATHER */
.feather-activity:before{content:"\e900"}.feather-airplay:before{content:"\e901"}.feather-alert-circle:before{content:"\e902"}.feather-alert-octagon:before{content:"\e903"}.feather-alert-triangle:before{content:"\e904"}.feather-align-center:before{content:"\e905"}.feather-align-justify:before{content:"\e906"}.feather-align-left:before{content:"\e907"}.feather-align-right:before{content:"\e908"}.feather-anchor:before{content:"\e909"}.feather-aperture:before{content:"\e90a"}.feather-archive:before{content:"\e90b"}.feather-arrow-down:before{content:"\e90c"}.feather-arrow-down-circle:before{content:"\e90d"}.feather-arrow-down-left:before{content:"\e90e"}.feather-arrow-down-right:before{content:"\e90f"}.feather-arrow-left:before{content:"\e910"}.feather-arrow-left-circle:before{content:"\e911"}.feather-arrow-right:before{content:"\e912"}.feather-arrow-right-circle:before{content:"\e913"}.feather-arrow-up:before{content:"\e914"}.feather-arrow-up-circle:before{content:"\e915"}.feather-arrow-up-left:before{content:"\e916"}.feather-arrow-up-right:before{content:"\e917"}.feather-at-sign:before{content:"\e918"}.feather-award:before{content:"\e919"}.feather-bar-chart:before{content:"\e91a"}.feather-bar-chart-2:before{content:"\e91b"}.feather-battery:before{content:"\e91c"}.feather-battery-charging:before{content:"\e91d"}.feather-bell:before{content:"\e91e"}.feather-bell-off:before{content:"\e91f"}.feather-bluetooth:before{content:"\e920"}.feather-bold:before{content:"\e921"}.feather-book:before{content:"\e922"}.feather-book-open:before{content:"\e923"}.feather-bookmark:before{content:"\e924"}.feather-box:before{content:"\e925"}.feather-briefcase:before{content:"\e926"}.feather-calendar:before{content:"\e927"}.feather-camera:before{content:"\e928"}.feather-camera-off:before{content:"\e929"}.feather-cast:before{content:"\e92a"}.feather-check:before{content:"\e92b"}.feather-check-circle:before{content:"\e92c"}.feather-check-square:before{content:"\e92d"}.feather-chevron-down:before{content:"\e92e"}.feather-chevron-left:before{content:"\e92f"}.feather-chevron-right:before{content:"\e930"}.feather-chevron-up:before{content:"\e931"}.feather-chevrons-down:before{content:"\e932"}.feather-chevrons-left:before{content:"\e933"}.feather-chevrons-right:before{content:"\e934"}.feather-chevrons-up:before{content:"\e935"}.feather-chrome:before{content:"\e936"}.feather-circle:before{content:"\e937"}.feather-clipboard:before{content:"\e938"}.feather-clock:before{content:"\e939"}.feather-cloud:before{content:"\e93a"}.feather-cloud-drizzle:before{content:"\e93b"}.feather-cloud-lightning:before{content:"\e93c"}.feather-cloud-off:before{content:"\e93d"}.feather-cloud-rain:before{content:"\e93e"}.feather-cloud-snow:before{content:"\e93f"}.feather-code:before{content:"\e940"}.feather-codepen:before{content:"\e941"}.feather-command:before{content:"\e942"}.feather-compass:before{content:"\e943"}.feather-copy:before{content:"\e944"}.feather-corner-down-left:before{content:"\e945"}.feather-corner-down-right:before{content:"\e946"}.feather-corner-left-down:before{content:"\e947"}.feather-corner-left-up:before{content:"\e948"}.feather-corner-right-down:before{content:"\e949"}.feather-corner-right-up:before{content:"\e94a"}.feather-corner-up-left:before{content:"\e94b"}.feather-corner-up-right:before{content:"\e94c"}.feather-cpu:before{content:"\e94d"}.feather-credit-card:before{content:"\e94e"}.feather-crop:before{content:"\e94f"}.feather-crosshair:before{content:"\e950"}.feather-database:before{content:"\e951"}.feather-delete:before{content:"\e952"}.feather-disc:before{content:"\e953"}.feather-dollar-sign:before{content:"\e954"}.feather-download:before{content:"\e955"}.feather-download-cloud:before{content:"\e956"}.feather-droplet:before{content:"\e957"}.feather-edit:before{content:"\e958"}.feather-edit-2:before{content:"\e959"}.feather-edit-3:before{content:"\e95a"}.feather-external-link:before{content:"\e95b"}.feather-eye:before{content:"\e95c"}.feather-eye-off:before{content:"\e95d"}.feather-facebook:before{content:"\e95e"}.feather-fast-forward:before{content:"\e95f"}.feather-feather:before{content:"\e960"}.feather-file:before{content:"\e961"}.feather-file-minus:before{content:"\e962"}.feather-file-plus:before{content:"\e963"}.feather-file-text:before{content:"\e964"}.feather-film:before{content:"\e965"}.feather-filter:before{content:"\e966"}.feather-flag:before{content:"\e967"}.feather-folder:before{content:"\e968"}.feather-folder-minus:before{content:"\e969"}.feather-folder-plus:before{content:"\e96a"}.feather-gift:before{content:"\e96b"}.feather-git-branch:before{content:"\e96c"}.feather-git-commit:before{content:"\e96d"}.feather-git-merge:before{content:"\e96e"}.feather-git-pull-request:before{content:"\e96f"}.feather-github:before{content:"\e970"}.feather-gitlab:before{content:"\e971"}.feather-globe:before{content:"\e972"}.feather-grid:before{content:"\e973"}.feather-hard-drive:before{content:"\e974"}.feather-hash:before{content:"\e975"}.feather-headphones:before{content:"\e976"}.feather-heart:before{content:"\e977"}.feather-help-circle:before{content:"\e978"}.feather-home:before{content:"\e979"}.feather-image:before{content:"\e97a"}.feather-inbox:before{content:"\e97b"}.feather-info:before{content:"\e97c"}.feather-instagram:before{content:"\e97d"}.feather-italic:before{content:"\e97e"}.feather-layers:before{content:"\e97f"}.feather-layout:before{content:"\e980"}.feather-life-buoy:before{content:"\e981"}.feather-link:before{content:"\e982"}.feather-link-2:before{content:"\e983"}.feather-linkedin:before{content:"\e984"}.feather-list:before{content:"\e985"}.feather-loader:before{content:"\e986"}.feather-lock:before{content:"\e987"}.feather-log-in:before{content:"\e988"}.feather-log-out:before{content:"\e989"}.feather-mail:before{content:"\e98a"}.feather-map:before{content:"\e98b"}.feather-map-pin:before{content:"\e98c"}.feather-maximize:before{content:"\e98d"}.feather-maximize-2:before{content:"\e98e"}.feather-menu:before{content:"\e98f"}.feather-message-circle:before{content:"\e990"}.feather-message-square:before{content:"\e991"}.feather-mic:before{content:"\e992"}.feather-mic-off:before{content:"\e993"}.feather-minimize:before{content:"\e994"}.feather-minimize-2:before{content:"\e995"}.feather-minus:before{content:"\e996"}.feather-minus-circle:before{content:"\e997"}.feather-minus-square:before{content:"\e998"}.feather-monitor:before{content:"\e999"}.feather-moon:before{content:"\e99a"}.feather-more-horizontal:before{content:"\e99b"}.feather-more-vertical:before{content:"\e99c"}.feather-move:before{content:"\e99d"}.feather-music:before{content:"\e99e"}.feather-navigation:before{content:"\e99f"}.feather-navigation-2:before{content:"\e9a0"}.feather-octagon:before{content:"\e9a1"}.feather-package:before{content:"\e9a2"}.feather-paperclip:before{content:"\e9a3"}.feather-pause:before{content:"\e9a4"}.feather-pause-circle:before{content:"\e9a5"}.feather-percent:before{content:"\e9a6"}.feather-phone:before{content:"\e9a7"}.feather-phone-call:before{content:"\e9a8"}.feather-phone-forwarded:before{content:"\e9a9"}.feather-phone-incoming:before{content:"\e9aa"}.feather-phone-missed:before{content:"\e9ab"}.feather-phone-off:before{content:"\e9ac"}.feather-phone-outgoing:before{content:"\e9ad"}.feather-pie-chart:before{content:"\e9ae"}.feather-play:before{content:"\e9af"}.feather-play-circle:before{content:"\e9b0"}.feather-plus:before{content:"\e9b1"}.feather-plus-circle:before{content:"\e9b2"}.feather-plus-square:before{content:"\e9b3"}.feather-pocket:before{content:"\e9b4"}.feather-power:before{content:"\e9b5"}.feather-printer:before{content:"\e9b6"}.feather-radio:before{content:"\e9b7"}.feather-refresh-ccw:before{content:"\e9b8"}.feather-refresh-cw:before{content:"\e9b9"}.feather-repeat:before{content:"\e9ba"}.feather-rewind:before{content:"\e9bb"}.feather-rotate-ccw:before{content:"\e9bc"}.feather-rotate-cw:before{content:"\e9bd"}.feather-rss:before{content:"\e9be"}.feather-save:before{content:"\e9bf"}.feather-scissors:before{content:"\e9c0"}.feather-search:before{content:"\e9c1"}.feather-send:before{content:"\e9c2"}.feather-server:before{content:"\e9c3"}.feather-settings:before{content:"\e9c4"}.feather-share:before{content:"\e9c5"}.feather-share-2:before{content:"\e9c6"}.feather-shield:before{content:"\e9c7"}.feather-shield-off:before{content:"\e9c8"}.feather-shopping-bag:before{content:"\e9c9"}.feather-shopping-cart:before{content:"\e9ca"}.feather-shuffle:before{content:"\e9cb"}.feather-sidebar:before{content:"\e9cc"}.feather-skip-back:before{content:"\e9cd"}.feather-skip-forward:before{content:"\e9ce"}.feather-slack:before{content:"\e9cf"}.feather-slash:before{content:"\e9d0"}.feather-sliders:before{content:"\e9d1"}.feather-smartphone:before{content:"\e9d2"}.feather-speaker:before{content:"\e9d3"}.feather-square:before{content:"\e9d4"}.feather-star:before{content:"\e9d5"}.feather-stop-circle:before{content:"\e9d6"}.feather-sun:before{content:"\e9d7"}.feather-sunrise:before{content:"\e9d8"}.feather-sunset:before{content:"\e9d9"}.feather-tablet:before{content:"\e9da"}.feather-tag:before{content:"\e9db"}.feather-target:before{content:"\e9dc"}.feather-terminal:before{content:"\e9dd"}.feather-thermometer:before{content:"\e9de"}.feather-thumbs-down:before{content:"\e9df"}.feather-thumbs-up:before{content:"\e9e0"}.feather-toggle-left:before{content:"\e9e1"}.feather-toggle-right:before{content:"\e9e2"}.feather-trash:before{content:"\e9e3"}.feather-trash-2:before{content:"\e9e4"}.feather-trending-down:before{content:"\e9e5"}.feather-trending-up:before{content:"\e9e6"}.feather-triangle:before{content:"\e9e7"}.feather-truck:before{content:"\e9e8"}.feather-tv:before{content:"\e9e9"}.feather-twitter:before{content:"\e9ea"}.feather-type:before{content:"\e9eb"}.feather-umbrella:before{content:"\e9ec"}.feather-underline:before{content:"\e9ed"}.feather-unlock:before{content:"\e9ee"}.feather-upload:before{content:"\e9ef"}.feather-upload-cloud:before{content:"\e9f0"}.feather-user:before{content:"\e9f1"}.feather-user-check:before{content:"\e9f2"}.feather-user-minus:before{content:"\e9f3"}.feather-user-plus:before{content:"\e9f4"}.feather-user-x:before{content:"\e9f5"}.feather-users:before{content:"\e9f6"}.feather-video:before{content:"\e9f7"}.feather-video-off:before{content:"\e9f8"}.feather-voicemail:before{content:"\e9f9"}.feather-volume:before{content:"\e9fa"}.feather-volume-1:before{content:"\e9fb"}.feather-volume-2:before{content:"\e9fc"}.feather-volume-x:before{content:"\e9fd"}.feather-watch:before{content:"\e9fe"}.feather-wifi:before{content:"\e9ff"}.feather-wifi-off:before{content:"\ea00"}.feather-wind:before{content:"\ea01"}.feather-x:before{content:"\ea02"}.feather-x-circle:before{content:"\ea03"}.feather-x-square:before{content:"\ea04"}.feather-youtube:before{content:"\ea05"}.feather-zap:before{content:"\ea06"}.feather-zap-off:before{content:"\ea07"}.feather-zoom-in:before{content:"\ea08"}.feather-zoom-out:before{content:"\ea09"}
/* swiper */
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}
.swiper-container-vertical>.swiper-wrapper{flex-direction:column}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}
.swiper-container-android .swiper-slide,
.swiper-wrapper{transform:translate3d(0px,0,0)}
.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}
.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}
.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}
.swiper-slide-invisible-blank{visibility:hidden}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide{height:auto}
.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}
.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}
.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}
.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}
.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}
.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}
:root{--swiper-navigation-size:44px}
.swiper-button-next,
.swiper-button-prev{position:absolute;top:50%;width:3rem;height:3rem;z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--tls-lila);font-size:30px;}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{left:10px;right:auto}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}
.swiper-button-lock{display:none}
.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}
.swiper-pagination.swiper-pagination-hidden{opacity:0}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction{bottom:-20px;left:0;width:100%}
.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}
button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}
.swiper-pagination-bullet-active{opacity:1;background-color:var(--tls-rosa);}
.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}
.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}
.swiper-pagination-white{--swiper-pagination-color:#ffffff}
.swiper-pagination-black{--swiper-pagination-color:#000000}
.swiper-pagination-lock{display:none}
.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}
.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}
@media (max-width:599px){.swiper-pagination + [class*="button"], .swiper-pagination + [class*="button"] + [class*="button"]{display:none!important;}
}

.arky--body h3{font-size:22px;line-height:26px;font-weight:700;}
.arky--body h4{font-size:20px;line-height:24px;font-weight:700;}
.arky--body p{color:var(--tls-violeta);font-size:16px;line-height:20px;}
.arky--body li{color:var(--tls-violeta);font-size:18px;line-height:22px;}
.arky--body a{border-bottom:1px solid white;opacity:1;transition:var(--tls-time) opacity;}
.arky--body a:hover{opacity:.75}
.uk-light .arky--body p,
.uk-light .arky--body li{color:white;}
.arky--body li{text-align:left;margin-bottom:.5rem;}
.arky--body > * + *{margin-top:1rem;}
.arky--body + .arky--body{margin-top:1.5rem;}
.arky--body-news h2, .arky--body-news h3{color:var(--tls-rosa);}
@media (min-width:900px){.arky--body h3{font-size:26px;line-height:32px;}
.arky--body h4{font-size:22px;line-height:26px;}
.arky--body p{font-size:18px;line-height:24px;}
.arky--body li{font-size:19px;line-height:24px;}
}
.uk-text-underline{border-bottom:1px solid;}
.arky-border-top header .uk-container::before,
.arky-border-top header.uk-container::before{content:'';width:calc(100% - calc(6*var(--tls-xxx)));height:1px;background:var(--tls-fino);position:absolute;left:calc(3*var(--tls-xxx));top:-70px;}
.arky-border-top header.uk-container::before{top:-4rem;}
@media (min-width:600px){.promocionado a{padding-left:0!important;padding-right:0!important}
.promocionado figure{max-width:43%;}
.promocionado article{max-width:50%;padding:0!important;}
.promocionado img{height:250px;width:auto;}
.promocionado .uk-h3{font-size:20px;line-height:1.25;}
.promocionado .uk-h4{display:none;}
.promocionado .uk-button{padding:.5rem 1rem;margin-top:1rem !important;padding-right:2rem;}
.promocionado .person{display:none;}
}
.botones-tipo-1 [class*="swiper-button-"]{top:auto;margin:auto;bottom:.5rem;left:0;right:0;display:inline-flex;}
.botones-tipo-1.botones-tipo-1-lila [class*="swiper-button-"]{background-color:var(--tls-lila);color:white!important;}
.uk-light .botones-tipo-1.botones-tipo-1-lila [class*="swiper-button-"]{background-color:white;color:var(--tls-lila)!important;}
.botones-tipo-1.botones-tipo-1-lila .swiper-button-next::after,
.botones-tipo-1.botones-tipo-1-lila .swiper-button-prev::after{-webkit-text-stroke-color:white;}
.botones-tipo-1 [class*="button-prev"]{left:-5rem;}
.botones-tipo-1 [class*="button-next"]{right:-5rem;}
@media (min-width:600px){.botones-tipo-1 [class*="button-prev"],
.botones-tipo-1 [class*="button-next"]{left:auto;right:6rem;bottom:2rem;}
.botones-tipo-1.botones-tipo-1-lila [class*="swiper-button-"]{bottom:0;}
.botones-tipo-1 [class*="button-next"]{right:2rem;}
.botones-tipo-1 .uk-padding-xlarge-bottom{padding:0 !important;}
}
@media (min-width:900px){.swiper-container{width:100%;margin-left:auto;margin-right:auto;}
.swiper-slide{background-size:cover;background-position:center;}
.gallery-top{width:100%;}
.gallery-thumbs{box-sizing:border-box;padding:10px 0;}
.gallery-thumbs .swiper-slide{height:100%;opacity:0.4;}
.gallery-thumbs .swiper-slide-thumb-active{opacity:1;border-color:var(--tls-lila);}
.gallery-top figure{margin:0;}
.gallery-top img{height:500px;}
.gallery-thumbs figure{height:120px !important;margin-top:0;border:5px solid transparent;transition:var(--tls-time) opacity, var(--tls-time) border-color;}
.gallery-thumbs figure:last-child{margin-bottom:0 !important;}
}
.autor-pic{border:8px solid rgba(255,255,255,.5);padding:16px;margin-left:2rem;align-self:flex-start;}
.proyecto-grupal .autor-pic{max-width:60px;border-width:4px;padding:0;margin-bottom:.25rem!important;margin:0;width:100%;}
[class*='body--view'] .proyecto-grupal .autor-pic{max-width:55px;border-width:0;padding:4px;}
.compartir-right .uk-button-group li:not(:first-child){margin-top:.75rem;}
@media (min-width:900px){.compartir-right::before{content:'';width:2px;height:100%;background-color:white;display:block;position:absolute;left:2rem;opacity:.25;}
}
.bef-exposed-form .uk-button{border:0;border-bottom:2px solid var(--tls-lila);color:var(--tls-lila);}
.bef-exposed-form input{display:none!important;}
.button-tags{float:right;}
.bef-link{color:var(--tls-violeta) !important;}
.bef-link:hover,
.bef-link[class*="selected"]{color:var(--tls-rosa) !important;}
.uk-dropdown{border:2px solid var(--tls-lila);border-left:5px solid var(--tls-rosa);;}
a[id*="granja_"]{background-color:transparent;transition:var(--tls-time) background-color;}
a[id*="granja_"]:hover{background-color:var(--tls-lila-soft);}
.uk-light a[id*="granja_"]{background-color:rgba(255,255,255,.125);border:0;}
.uk-light a[id*="granja_"]:hover{background-color:rgba(255,255,255,.25);}
.uk-text-center a[id*='granja_'] img{margin:auto;}
.mas-simple p{margin:0;font-size:18px;padding-right:1rem;}
.mas-simple a .button-arrow{margin:auto !important;position:absolute !important;right:0;top:0;bottom:0;}
.mas-simple a .uk-text-underline{display:none;}
.nueva{position:absolute;top:1rem;right:1rem;width:4rem;height:4rem;line-height:4rem;}
.boton-red{width:3rem;height:3rem;padding:0;line-height:3rem!important;font-size:22px;margin-right:1rem;}
.tooltip{background-color:white;border:1px solid #cacaca;}
.tooltip-button{width:2.5rem;height:2.5rem;padding:0 !important;font-size:1.5em !important;background-color:white !important;box-shadow:0 0 0px 8px rgba(0,0,0,.25);border:0 !important;}
.tooltip-button [class*='minus'],
.tooltip-button.uk-open [class*='plus']{display:none;}
.tooltip-button.uk-open [class*='minus']{display:inline;}
.toolip-1{top:15%;left:25%;}
.toolip-2{top:25%;right:20%;}
.toolip-3{bottom:25%;left:20%;}
.toolip-4{bottom:15%;right:25%;}
.is--perfiles #welcome{padding-bottom:0;border-bottom:1px solid #dadada;}
.button-soft{background-color:var(--tls-lila-soft);padding-top:.75rem!important;padding-bottom:.75rem!important;}
.button-soft:hover,
.menu-item--active-trail .button-soft{background-color:var(--tls-lila);color:white;}
@media (min-width:900px){.body--taxonomy .card--mundo .uk-card-header{padding:0!important;}
}
.acordion-basico .uk-accordion-title::before{content:none;}
.acordion-basico .uk-accordion-title span{height:auto;transform:none!important;top:1rem;bottom:0;}
.acordion-basico .uk-accordion-title [class*='minus'],
.acordion-basico .uk-open .uk-accordion-title [class*='plus']{display:none;}
.acordion-basico .uk-open .uk-accordion-title [class*='minus']{display:inline;}
.acordion-basico li{border-bottom:1px solid var(--tls-linea)}
.acordion-basico .uk-accordion-content::before{content:'';height:100%;width:5px;border-radius:5px;background-color:var(--tls-rosa);position:absolute;left:0;top:0;}
.lapse::after{content:'';width:1rem;height:100%;position:absolute;left:0;right:0;margin:auto;background-color:var(--tls-rosa);top:0;}
.lapse-last::after{height:50%;}
.lapse .uk-container::after,
.lapse-first .uk-container::after{content:'';width:3rem;height:3rem;background-color:var(--tls-rosa);position:absolute;display:block;top:0;border-radius:50%;bottom:0;margin:auto;left:0;right:0;box-shadow:0 0 0 2rem rgba(0,0,0,.05);z-index:-1;}
.lapse-first .uk-container::after{bottom:auto;}
.lapse-first::before{content:'Presente';color:var(--tls-rosa);text-align:center;display:block;position:absolute;top:-4rem;left:0;right:0;}
.lapse-last.uk-light::before{content:'';width:25%;height:20px;background:var(--tls-rosa);display:block;position:absolute;top:0;bottom:0;margin:auto;z-index:0;}
.lapse.lapse-right{padding-left:4rem;}
.lapse-first.lapse-right::before{left:calc(5% - 1.5rem);right:auto;}
.lapse.lapse-right .uk-container::after,
.lapse-first.lapse-right .uk-container::after{left:calc(5% - 1rem);right:auto;}
.lapse.lapse-right::after{left:5%;right:auto;}
@media (max-width:899px){.lapse{padding-left:4rem;}
.lapse-first::before{left:0;right:auto;}
.lapse-first.lapse-right::before{left:0;}
.lapse .uk-container::after,
.lapse-first .uk-container::after{left:1rem;right:auto;}
.lapse::after{left:2rem;right:auto;}
}
.border-rosa{border-bottom:5px solid var(--tls-rosa);}
.arky-bg-rosa .border-rosa{border-bottom-color:white;}
.grupo-3 > *,
.grupo-4 > *{width:50%;}
@media (min-width:600px){.grupo-3 > *,
.grupo-4 > *{width:33.32%;}
}
@media (min-width:900px){.grupo-4 > *{width:25%;}
}
.body--buscador [class*="js-view"] header{color:var(--tls-rosa);margin-bottom:1rem;font-size:1.5em;font-weight:700;}
.bee-buscador:not(:nth-child(2)){border-top:1px solid var(--tls-fino);}
.pager__items{margin:auto;width:auto;display:inline-flex;border:1px solid var(--tls-fino);border-radius:2rem;padding:.75rem;padding-right:1rem;font-size:14px;text-transform:uppercase;}
.pager li{padding-left:.5rem;}
.pager a{min-width:1.5rem;line-height:1.5rem;}
.pager .uk-active a{box-shadow:0 0 0 1px var(--tls-rosa), 0 0 0 10px inset var(--tls-rosa);border-radius:100px;color:white;}
.pager__item--previous{border-right:1px solid var(--tls-fino);padding-right:.5rem;}
.pager__item--next{border-left:1px solid var(--tls-fino);padding-left:.5rem;}
div:not([uk-dropdown]).bef-links ul{display:inline-block;width:100%;}
div:not([uk-dropdown]).bef-links li{display:inline-flex;}
@media (max-width:599px){div:not([uk-dropdown]).bef-links ul{text-align:center;}
}
.bef-links:not([uk-dropdown]) .bef-link{background-color:var(--tls-lila-soft);display:inline-block;color:var(--tls-lila) !important;padding:.5rem 1rem .5rem 2.5rem;border-radius:3rem;position:relative;margin-bottom:.5rem;margin-right:.5rem;}
.bef-links:not([uk-dropdown]) .bef-link::before{content:'';width:1rem;height:1rem;background-color:white;display:block;position:absolute;left:1rem;top:0;bottom:0;margin:auto;border-radius:50%;}
.bef-links:not([uk-dropdown]) .bef-link--selected::after{content:'';width:.35rem;height:.65rem;position:absolute;top:0;display:block;border-right:1px solid var(--tls-lila);border-bottom:1px solid var(--tls-lila);transform:rotate(45deg);bottom:0;margin:auto;left:1.25rem;}
.uk-navbar-nav{border-bottom:1px solid var(--tls-linea);}
.uk-navbar-nav > li > a{min-height:50px;text-transform:none;font-weight:700;color:var(--tls-lila);position:relative;}
.uk-navbar-nav > li > a::after{content:'';width:100%;height:4px;border-radius:2rem;background-color:var(--tls-lila);position:absolute;bottom:0;opacity:0;}
.uk-navbar-nav > li[class*="active"] > a::after{opacity:1;}
.video-play::before{content:'';width:100px;height:100px;display:block;position:absolute;background-image:url(../imgs/iconos/play.png);left:50%;top:50%;transform:translate3d(-50%,-50%,0);}
.block-play, blockquote{position:relative;padding-top:65px;}
blockquote::before,
.block-play::before{content:'';background-image:url(../imgs/iconos/quote.png);width:80px;height:55px;display:block;position:absolute;top:0;left:2rem;z-index:2;margin:auto;}
.block-play-center::before{left:0;right:0;}
.arky-bg-rosa .block-play::before{filter:brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5)}
blockquote::before{left:0;right:0;margin:auto;}
@media (max-width:599px){.block-play::before{left:0;right:0;margin:auto;}
}
.proyecto-grupal .uk-flex-inline:first-child{position:relative;z-index:-1;}
.proyecto-grupal .uk-flex-inline:not(:first-child){position:relative;margin-left:-2rem;z-index:2;}
.arky-variacion-50 header h2,
.arky-variacion-50 .arky--body{width:100%;margin-left:0 !important;margin-right:auto;text-align:center;}
.image-variacion{max-width:50%;margin:auto;bottom:-2.5rem;}
@media (min-width:900px){.arky-variacion-50 header h2,
.arky-variacion-50 .arky--body{width:50%;margin-left:0 !important;margin-right:auto;text-align:left;}
.image-variacion{max-width:calc(550px - 6rem);width:calc(550px - 6rem);position:absolute;right:calc(50vw - 3rem - 550px);bottom:0;}
}
.schedule-group{border-bottom:1px solid var(--tls-fino);}
.schedule-box{width:5.5rem;background-color:var(--tls-violeta);color:white;}
.schedule-color-lila .schedule-box{background-color:var(--tls-lila);}
.schedule-color-rosa .schedule-box{background-color:var(--tls-rosa);}
.schedule-color-celeste .schedule-box{background-color:var(--tls-celeste);}
.schedule-color-gris .schedule-box{background-color:var(--tls-suave);color:var(--tls-lila);}
.schedule-color-ambar .schedule-box{background-color:var(--tls-ambar);color:var(--tls-lila);}
.schedule-list li::after{content:'';border:2px solid var(--tls-violeta);width:.75rem;height:.75rem;display:block;position:absolute;left:0;margin:auto;bottom:0;top:0;border-radius:50%;}
.schedule-color-lila .schedule-list li::after{border-color:var(--tls-lila);}
.schedule-color-rosa .schedule-list li::after{border-color:var(--tls-rosa);}
.schedule-color-ambar .schedule-list li::after{border-color:var(--tls-ambar);}
.schedule-color-celeste .schedule-list li::after{border-color:var(--tls-celeste);}
.schedule-color-gris .schedule-list li::after{border-color:var(--tls-suave);}
.objeto-out{z-index:2;width:100% !important;opacity:1;transition:var(--tls-time) opacity;}
.objeto:hover .objeto-out{opacity:0;}
@media (max-width:1199px){.objeto{height:250px;}
}
@media (max-width:599px){.objeto-in{padding:1rem;}
}
.tabs-2 li{margin-bottom:.5rem;}
.tabs-2 a{background-color:var(--tls-lila-soft) !important;color:var(--tls-lila) !important;line-height:1;padding:.5rem .75rem .5rem !important;border-radius:2rem;border:2px solid transparent;font-size:14px;}
.uk-light .tabs-2 a{background-color:rgba(255,255,255,.15) !important;color:white !important;}
.tabs-2 .uk-active a{border-color:var(--tls-lila);}
.uk-light .tabs-2 .uk-active a{border-color:white;}
blockquote{text-align:center;padding-left:5%;padding-right:5%;padding-bottom:2rem;border-bottom:5px dashed var(--tls-rosa);position:relative;margin-bottom:2rem;}
blockquote p{font-style:normal;color:var(--tls-rosa) !important;font-family:Trocchi, serif;font-size:22px !important;line-height:28px !important;}
blockquote::after{content:'\e937  \e937  \e937';font-family:'BeeTLS' !important;font-style:normal;color:var(--tls-rosa);background-color:white;position:absolute;width:120px;height:30px;left:0;right:0;margin:auto;bottom:-15px;}
.acordeon--core-list{background-color:rgba(39, 0, 109,.3);}
.acordeon--core-list.uk-open{background-color:#27006d;}
.acordeon--header{background-color:transparent;line-height:1;}
.acordeon--header::before{content:none;}
.acordeon--header h4{padding-left:1rem;padding-right:1.5rem;}
.acordeon--cuerpo{padding:0 1rem 2rem;}
.acordeon--header-modulo{width:4rem;height:4rem;background-color:transparent;transition:var(--tls-time) background-color;}
.is--carreras .uk-open .acordeon--header-modulo{background-color:var(--tls-rosa);}
.is--carreras .acordeon--cuerpo .uk-h4,
.is--carreras .uk-accordion .uk-position-center-right{color:var(--tls-rosa);}
.is--cursos .uk-open .acordeon--header-modulo{background-color:var(--tls-celeste);}
.is--cursos .uk-accordion .uk-position-center-right,
.is--cursos .acordeon--cuerpo .uk-h4{color:var(--tls-celeste);}
@media (min-width:900px){.acordeon--header-modulo{width:100px;height:100px;}
.acordeon--cuerpo{padding:0 calc(100px + 1rem) 2rem;}
}
@media (max-width:899px){.shareit .uk-button-group{display:block;}
.shareit .uk-button-group a{width:100%;margin-bottom:.75rem;}
}
.uk-icon-button{box-sizing:border-box;width:3rem;height:3rem;border-radius:500px;background-color:transparent;vertical-align:middle;display:inline-flex;justify-content:center;align-items:center;transition:var(--tls-time) ease-in-out;transition-property:color, background-color;}
/* ESPECIALES */
.achicar .uk-heading-4 {font-size: 30px;line-height: 1;}
.achicar .uk-h1 {font-size: 21px;line-height: 1;margin-bottom: 1rem;font-weight: 700;}
.achicar .arky--body p, .achicar .arky--body li {font-size: 14px;line-height: 1.5;margin-bottom: 1rem;}
.achicar .arky--body li {margin-bottom: .5rem;}
.achicar .arky--body li::before { top: 5px; }
.loco-4 .uk-button { font-size: 13px; letter-spacing: 0; }
.body--node-79 .uk-pagination { max-width: 600px; min-width: 600px; position: relative; display: flex; flex-flow: wrap row; margin: 0; }
.body--node-79 .uk-pagination>* { background-color: var(--tls-rosa); border-radius: 2rem; padding:.25rem;min-width:0; display: inline-flex; }
.marquee {display:block;overflow: hidden;position: relative;}
.marquee::before {content: '\00a0';}
.marquee span {animation: marquee 10s linear infinite;display: block;min-width: 100%;position: absolute;left: 0;top: 0;white-space: nowrap;}
.marquee:last-child span {animation: marquee 13s linear infinite;}
@keyframes marquee { from {transform: translateX(100%); }to { transform: translateX(-100%); } }
@media (max-width: 599px){ 
.marquee span { animation: none!important; position: relative; font-size: 36px; white-space:normal; }
.marquee::before { content: none; }
}

/* CORRECCIONES */
article.tls_article-chat .uk-modal-close[class*="small"] {
    max-height: 100%;
    top: auto;
    right: auto;
}
#chat_frame {
    background-color: rgba(0,0,0,.25);
}
#chat_frame .uk-modal-dialog { margin: auto; }
.is--campus > .uk-section:first-child {
    padding-bottom: 0;
}
.is--mundo article {
    display: flex;
}
.menu_ec li:not(:first-child) {
    margin-left: 1rem;
}
@media (min-width: 600px) {
.bd_node-196 .tls--block .uk-width {
    display: flex;
    flex-flow: row wrap;
}
.bd_node-196 .tls--block .uk-width > div {
    width: calc(50% - 4rem);
    margin: 0 2rem 2rem;
}
}