<section id="inscripcion" class="uk-section page brd_top">

    <header class="tls_header uk-container alinear_izq alinear_cen">
        <img class="tls_header-img" data-src="{{ form_main_img }}" uk-img width="600" height="114" alt="Contáctanos" />
        <p class="tls_header-sub">{{ form_main_headtxt }}</p>
    </header>

    <div class="formulario">
        <form id="tls_form" uk-grid method="post">
                <div id="step_1" class="excel" uk-grid>
                    {# NOMBRES #}
                    <div class="form_nombre step_two">
                        <label class="step_label" for="nombres">Mi nombre es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su nombre'>
                            <input id="nombres" class="core_nombres" name="nombres" type="text" placeholder="P. ej. Gia"
                                aria-label="core_nombres" data-step>
                        </span>
                    </div>
                    {# AP PATERNO #}
                    <div class="form_paterno step_two">
                        <label class="step_label" for="paterno">Mi apellido paterno es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su apellido paterno' >
                            <input id="paterno" class="core_paterno" name="paterno" type="text"
                                placeholder="P. ej. Odicio" aria-label="core_paterno" data-step>
                        </span>
                    </div>
                    {# CORREO #}
                    <div class="form_correo step_two">
                        <label class="step_label" for="correo">Mi correo electrónico es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su correo'>
                            <input id="correo" name="correo" class="core_correo" type="email"
                                placeholder="P. ej. gia@tls.edu.pe" aria-label="core_correo" data-step>
                        </span>
                    </div>
                    {# CELULAR #}
                    <div class="form_celular step_two">
                        <label class="step_label" for="celular">Mi teléfono celular es: </label>
                        <span class="step_box" data-mensaje='Por favor, ingrese su celular con 9 dígitos'>
                            <input id="celular" name="celular" maxlength="9" class="core_celular" type="tel"
                                placeholder="P. ej. 987654321" aria-label="core_celular" data-step>
                        </span>
                    </div>
                    {# TIPO PRODUCTOS #}
                    <div class="form_tipoProducto step_two">
                        <label class="step_label" for="tipoProducto">Deseo información sobre ...</label>
                        <span class="step_box" data-mensaje='Seleccione una opción'>
                            <select id="tipoProducto" name="tipoProducto" class="core_tipoProducto"
                                aria-label="core_tipoProducto"></select>
                        </span>
                    </div>
                    {# PRODUCTOS #}
                    <div class="form_producto step_two">
                        <label class="step_label" for="producto">Sobre la carrera de ...</label>
                        <span class="step_box" data-mensaje="Seleccione una opción">
                            <select id="producto" name="producto" class="core_producto" aria-label="core_producto"
                                disabled></select>
                        </span>
                    </div>         
                    {# EGRESO #}
                    {% if node.field_core_tipo.0.target_id in ['1', '2'] %}
                    <div class="form_egreso">
                        <label class="step_label" for="egreso">Mi año de egreso es ...</label>
                        <span class="step_box" data-mensaje="Ingrese el año que egreso del colegio">
                            <input id="egreso" name="egreso" maxlength="4" class="core_egreso" type="tel"
                                placeholder="P. ej. 2020" aria-label="core_egreso">
                        </span>
                    </div>

                    {% endif %}
                    {# CHECK CONDICIONES #}
                    <div class="form_terCondiciones checkbox">
                        <label class="step_checkbox" for="terCondiciones">
                            <input id="terCondiciones" name="terCondiciones" class="core_terCondiciones"
                                aria-label="core_terCondiciones" type="checkbox" checked>{{ form_politicas_1 }} <a
                                href="{{ url('<front>') }}/politicas-privacidad" rel="noopener noreferrer"
                                target="_blank" class="uk-link">{{ form_politicas_2 }}</a>
                        </label>
                        <small class="error terCondiciones hidden">Active esta casilla</small>
                    </div>
                    {# CHECK PROMOS #}
                    <div class="form_terPromos checkbox">
                        <label class="step_checkbox" for="terPromos">
                            <input id="terPromos" name="terPromos" class="core_terPromos" aria-label="core_terPromos"
                                type="checkbox" checked>{{ form_publicidad }}
                        </label>
                        <small class="error terPromos hidden">Active esta casilla</small>
                    </div>
                    {#-- BOTON ENVIAR --#}
                    <div class="form_boton">
                        <button id="enviando" class="boton_flecha iflecha" aria-label="core_enviando">Enviar
                            Información</button>
                    </div>
                </div>
        </form>
    </div>
</section>

</form>
</div>


{% if (node.field_core_tipo.0.target_id) and (node.type.entity.label in ['Nested Targets TLS'])  %}
<span class="hidden">
    <span id="core_tipo" class="uk-hidden">{{ node.field_core_tipo.0.target_id }}</span>
</span>
{% endif %}

{{ attach_library('tls/tls.form.validaciones') }}
{{ attach_library('tls/tls.form') }} 