<section id="contacto" class="uk-section">

<header class="tls_header uk-container alinear_izq alinear_cen">
<img class="tls_header-img" data-src="{{ base_path ~ directory }}/assets/images/form_contacto.jpg" uk-img width="600" height="114" alt="Contáctanos"/>
<p class="tls_header-sub">Completa el formulario y nos pondremos en contacto rápidamente contigo.<br>También puedes escribirnos a info@toulouselautrec.edu.pe</p>
</header>

<div class="formulario">
<form id="contact_tls_form" uk-grid method="post">

<div class="excel" uk-grid>
{# NOMBRES #}
<div class="form_nombre step_two">
<label class="step_label" for="nombres">Mi nombre es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su nombre">
<input id="nombres" class="contact_nombres" name="nombres" type="text" placeholder="P. ej. Gia" aria-label="contact_nombres" data-step>
</span>
</div>
{# AP PATERNO #}
<div class="form_paterno step_two">
<label class="step_label" for="paterno">Mi apellido paterno es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su apellido paterno">
<input id="paterno" class="contact_paterno" name="paterno" type="text" placeholder="P. ej. Odicio" aria-label="contact_paterno" data-step>
</span>
</div>
{# AP MATERNO #}
<div class="form_materno step_two">
<label class="step_label" for="materno">Mi apellido materno es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su apellido materno">
<input id="materno" name="materno" class="contact_materno" type="text" placeholder="P. ej. Arriola" aria-label="contact_materno" data-step>
</span>
</div>
{# CORREO #}
<div class="form_correo step_two">
<label class="step_label" for="correo">Mi correo electrónico es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su correo">
<input id="correo" name="correo" class="contact_correo" type="email" placeholder="P. ej. gia@tls.edu.pe" aria-label="contact_correo" data-step>
</span>
</div>
{# CELULAR #}
<div class="form_celular step_two">
<label class="step_label" for="celular">Mi teléfono celular es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese su celular con 9 dígitos">
<input id="celular" name="celular" maxlength="9" class="contact_celular" type="tel" placeholder="P. ej. 987654321" aria-label="contact_celular" data-step>
</span>
</div>
{# DNI #}
<div class="form_dni step_two">
<label class="step_label" for="dni">Mi número de DNI es: </label>
<span class="step_box" data-mensaje="Por favor, ingrese DNI con 8 dígitos"> 
<input id="dni" name="dni" class="contact_dni" maxlength="8" type="tel" placeholder="P. ej. 42514057" aria-label="contact_dni" data-step>
</span>
</div>
{# MENSAJE #}
<div class="form_mss">
<label class="step_label" for="contact_mss">Necesito apoyo en lo siguiente ...</label>
<span class="step_box">
<textarea id="contact_mss" name="contact_mss" rows="3" class="contact_mss" aria-label="contact_mss" placeholder="Quisiera que me puedan ayudar en ...">
</textarea>
</span>
</div>
{# CHECK CONDICIONES #}
<div class="form_terCondiciones">
<label class="step_checkbox" for="terCondiciones">
<input id="terCondiciones" name="terCondiciones" class="contact_terCondiciones" aria-label="contact_terCondiciones" type="checkbox" checked>He leído y acepto las <a href="{{ url('<front>') }}/politicas-privacidad" rel="noopener noreferrer" target="_blank" class="uk-link">Politicas de Privacidad</a>
</label>
<small class="error terCondiciones hidden">Active esta casilla</small>
</div>
{# CHECK PROMOS #}
<div class="form_terPromos">
<label class="step_checkbox" for="terPromos">
<input id="terPromos" name="terPromos" class="contact_terPromos" aria-label="contact_terPromos" type="checkbox" checked>Autorizo el envío de publicidad e información comercial.
</label>
<small class="error terPromos hidden">Active esta casilla</small>
</div>
{#-- BOTON ENVIAR --#}
<div class="form_boton">
<button id="enviando" class="boton_flecha iflecha" aria-label="contact_enviando">Enviar Información</button>
</div>
{#-- FIN --#}
</div>
</form>
</div>
</section>

{{ attach_library('tls/tls.form.validaciones') }}
{{ attach_library('tls/tls.form.contacto') }}