<section id="subscripcion" class="uk-section page">

<header class="tls_header uk-container alinear_izq alinear_cen">
<img class="tls_header-img" data-src="{{ form_subs_img }}" uk-img width="462" height="122" alt="Subscríbete"/>
<p class="tls_header-sub">{{ form_subs_headtxt }}</p>
</header> 

<div class="formulario form_subs">
<form id="subs_tls_form" uk-grid method="post">

<div class="excel" uk-grid>
{#<p class="step_title c_rosa">Completa el siguiente campo</p>#}
{# CORREO #}
<div class="form_correo step_two">
<label class="step_label" for="correo">Mi correo electrónico es: </label>
<span class="step_box" data-mensaje='Por favor, ingrese su correo'>
<input id="correo" name="correo" class="subs_correo" type="email" placeholder="P. ej. gia@tls.edu.pe" aria-label="subs_correo" data-step>
</span>
</div>
{# CHECK CONDICIONES #}
<div class="form_terCondiciones step_two">
<label class="step_checkbox" for="terCondiciones">
<input id="terCondiciones" name="terCondiciones" class="subs_terCondiciones" aria-label="subs_terCondiciones" type="checkbox" checked>He leído y acepto las <a href="{{ url('<front>') }}/politicas-privacidad" rel="noopener noreferrer" target="_blank" class="uk-link">Politicas de Privacidad</a>
</label>
<small class="error terCondiciones hidden">Active esta casilla</small>
</div>
{# CHECK PROMOS #}
<div class="form_terPromos step_two">
<label class="step_checkbox" for="terPromos">
<input id="terPromos" name="terPromos" class="subs_terPromos" aria-label="subs_terPromos" type="checkbox" checked>Autorizo el envío de publicidad e información comercial.
</label>
<small class="error terPromos hidden">Active esta casilla</small>
</div>
{#-- BOTON ENVIAR --#}
<div class="form_boton step_two">
<button id="enviando" class="boton_flecha iflecha" aria-label="subs_enviando">¡Suscribirme!</button>
</div>

</div>
</form>
</div>

</section>
{{ attach_library('tls/tls.form.validaciones') }}
{{ attach_library('tls/tls.form.subscripcion') }} 