<div class="uk-container uk-section">

    <form  id='leads_fechas'>
        <div class="uk-margin">
            <label>Fecha inicial</label>
            <input id='inicio' class="uk-input uk-form-width-large uk-form-large" type="date" required>
        </div>

        <div class="uk-margin">
            <label>Fecha final</label>
            <input id='final' class="uk-input uk-form-width-large uk-form-large" type="date" required>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary">Descargar CSV</button>
        </div>
    </form>

    <div class="uk-overflow-auto">
        <div class="tabla-container">&nbsp;</div>
    </div>
</div>

{{ attach_library('tls/tls.leads') }}